/* 	redhat.com MASTER style sheet

	a tip of the red hat to Zeldman, Bowman, Meyer, Shea, Cederholm, Newhouse, Holzschlag,
	and many, many other css and web standards pioneers who have inspired us. 

	the css, layout and validation status of redhat.com is a work-in-progress. numerous
	web-building worker bees are working furiously to correct the bugs, minimize the hacks 
	and validate the code. stay tuned. 

-------------------------------------------------------------------- created June 2004 */

@import url("global.css");
@import url("navigation.css");
@import url("headings.css");
@import url("tables.css");
@import url("pagelayout.css");
@import url("custom.css");
@import url("truthhappens.css");
@import url("middlenav.css");
@import url("www-gis.css");
@import url("dig.css");

/* ---------------------------------------------------------------- ns4 styles - bah! */
	
table {
	border: 1px;
	}
	
td,
th {
	padding: 4px;
	text-align: left;
	vertical-align: top;
	}
