.webformToolbar {
	text-align: center;
	font: bold 12px;
	background-color: ivory;
}

a.webformToolbar {
	color: black;
}

a:visited .webformToolbar {
	color: #CC0000;
}

table.webformList {
	width: 500;
}

span.webformLabel {
	text-align: right;
	font-weight: bold;
	float: left;
	width: 175px;
}

span.webformLabelFull {
	text-align: left;
	font-weight: bold;
	font-size: 125%;
	float: left;
	width: 100%;
}

.formDescription {
	font-weight: bold;
	font-size: 125%;
}

.hock_label {
	font-weight: bold;
	float: left;
	width: 175px;
	padding-left: 50px;
	height: 10px;
}

.hock_value {
	text-align: left;
	float: right;
	width: 175px;
	height: 10px;
}

#hockblock {
	clear: both;
	width: 450px;
}

#info_follows {
	color: #b70000;
	font-size: 1.2em;
	padding-bottom: 10px;
	width: 100%;
}

.hock_quantity {
	font-weight: bold;
	float: left;
	padding-left: 50px;
	height: 15px;
}

.hock_skuproduct {
	text-align: left;
	float: right;
	width: 350px;
}

.hock_sku {
	padding-right: 15px;
	float: left;
	height: 15px;
}

.error {
	padding-left: 5px;
}

#bold_note {
	font-weight: bold;
}
#hock_date_label { 
    height:1px;
   
}

div.rollingCheckbox {
	text-align: left;
	width: 500px;
}

div.rollingCheckbox ul {
	display: inline;
	margin-left: 50px;
	margin-right: 400px;
}

div.rollingCheckbox li {
	list-style-type: none;
	display: table-row;
	width: 500px;
}

.toolButton {
	text-decoration: none;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px
}

.dataCellFirst {
	border-bottom: 1px solid #DFD8BC
}

.dataCell {
	border-bottom: 1px solid #DFD8BC
}

.dataTablePagination {
	font-size: 10px;
	text-decoration: none;
	padding-top: 5px;
}

.toolBar {
	BACKGROUND-IMAGE: url(< c : out value = "${pageContext.request.contextPath}"/ >/ images/
		tags/ menu_background . gif);
	HEIGHT: 20px;
	TEXT-DECORATION: none
}

.toolBarSel {
	HEIGHT: 20px;
	TEXT-DECORATION: none;
	background-color: #DFD8BC
}

.subMenuDiv {
	height: 120px;
	width: 120px;
	overflow: auto;
	display: none;
	border: 1px solid black;
	position: absolute;
	background-color: white
}

.actionItem {
	text-decoration: none
}

div.formrowError span.labelFullError {
	float: left;
	width: 140px;
	text-align: right;
	font-weight: bold;
	padding: .5em 0;
	color: #CC0000;
}

span.labelWideError {
	float: left;
	width: 200px;
	text-align: right;
	font-weight: bold;
	padding: .5em 0;
	color: #CC0000;
}

span.labelFullError {
	float: left;
	width: 140px;
	text-align: right;
	font-weight: bold;
	padding: .5em 0;
	color: #CC0000;
}

div.error span.error {
	color: #CC0000;
}

span.error {
	color: #CC0000;
}

div.blockText {
	z-index: 1;
	background-color: #EEEEBB;
	layer-background-color: #003366;
	visibility: visible
}

div.formrow span.labelAsFormFieldFull {
	float: right;
	width: 540px;
	text-align: left;
	padding-top: 6px;
}

a.command {
	border: 1px solid #999;
	background: #f7f2d0;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
	cursor: default;
	margin-right: 20px;
}

div.formrow span.labelDesc {
	float: right;
	width: 540px;
	text-align: left;
	padding: .5em 0;
}

#ugcLogin { 
	height:20px;
}

#ugcLoginField {
    text-align:left;
    padding-left:10px;
   }
   
   
#country_radio {
     width:100px;
     float:left;
}

#country_radio_block { 
     height:15px;
}

.labelFull  { 
    align:left;
}

.formFieldFull { 
    padding-left:10px;
}

#activate_agree {
    border: 1px dotted #c00;
    padding:5px;
    margin-right: 15px;
    clear:both;
}

.textFieldFull {
    text-align: left;
    width:175px;
    height:10px;
    padding-left:10px;
}

.textLabelFull {
    float:left;
    text-align:right;
    font-weight:bold;
    height:10px;
    width:140px;
}

/* Styles for tabbed applications such as the Customer Center */
table#sub_detail {
    width: 97%;
    border: 1px solid #999;
    margin-right: 15px;
}

table#sub_detail th {
    width: 20%;
    text-align: right;
}

table#sub_detail th, table#sub_detail td {
    padding: 6px;
}

table#sub_detail th {
    border-right: 1px dotted #999;
}

table#sub_detail tr.even {
    background: #eee;
}

table#sub_detail ul, table#sub_detail ul li {
    margin: 0 .6em;
    padding: 0;
}

#appsTabBox .clearBoxXtraWide {
	clear:both;
}

#appsTabBox .clearBoxBody {
	padding: 5px 0 5px 13px;
}

#appsTabBox .clearBoxBody h2 {
	font-size: 120%; 
	color: #999;
}

#appsTabBox .clearBoxBody p {
	margin: 1em 0;
	font-size: x-small;
}

#appsTabBox .equalColBoxes {
	background: url(http://www.redhat.com/g/chrome/app_3col_gray_bg.gif) top left repeat-y;
}

#appsTabBox .equalColBoxes .oneBox {
	width: 220px; 
	float: left; 
	margin: 0 15px 0 0;
	font-size: x-small;
}

.oneBox h3 {
	background-color: #666;
	color: #fff;
	text-align: center;
	padding: 4px 0;
	font-size: x-small;
}

.oneBox div {
	 margin: 15px 5px;
}

.oneBox table {
	 width: 100%; 
	 margin: 0;
}

.oneBox #connectingMessage {
    padding-top: 2em;
    text-align: center;
    font-size: medium;
}

.oneBox #RHNConnectingDickie {
    text-align: center;
}

ul#clearBox_nav {
	margin: 0 15px;
	padding: 0 0;
	list-style: none;
	width: 690px;
	float: left;
}

ul#clearBox_nav li {
	margin: 0;
	margin-right: 2px;
	margin-bottom: -1px;
	float: left;
	background: url(http://www.redhat.com/g/chrome/graytab_right.gif) no-repeat top right;
}

ul#clearBox_nav li a {
	display: block;
	padding: 0 1.5em;
	line-height: 1.8em;
	background: url(http://www.redhat.com/g/chrome/graytab_left.gif) no-repeat top left;
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	float: left;
}

ul#clearBox_nav a:hover {
	color: #333;
}

/*account pages*/
div#account_tab_personal ul li#account_nav_personal, 
div#account_tab_address ul li#account_nav_address, 
div#account_tab_contact ul li#account_nav_contact, 
div#account_tab_news ul li#account_nav_news,
/*customer center pages*/
div#customer_tab_overview ul li#customer_nav_overview,
div#customer_tab_subscriptions ul li#customer_nav_subscriptions, 
div#customer_tab_renewals ul li#customer_nav_renewals {
	background: url(http://www.redhat.com/g/chrome/graytab_right_on.gif) no-repeat top right;
}

/*account pages*/
div#account_tab_personal ul li#account_nav_personal a, 
div#account_tab_address ul li#account_nav_address a, 
div#account_tab_contact ul li#account_nav_contact a, 
div#account_tab_news ul li#account_nav_news a,
/*customer center pages*/
div#customer_tab_overview ul li#customer_nav_overview a,
div#customer_tab_subscriptions ul li#customer_nav_subscriptions a,
div#customer_tab_renewals ul li#customer_nav_renewals a {
	background: url(http://www.redhat.com/g/chrome/graytab_left_on.gif) no-repeat top left;
	color: #333;
}
 
