/*
@font-face {
	font-family: 'rh-brand-icons';
	src:url("/s/fonts/rh-brand-icons.eot");
	src:url("/s/fonts/rh-brand-icons.eot?#iefix") format("eot"),
		url("/s/fonts/rh-brand-icons.woff") format("woff"),
		url("/s/fonts/rh-brand-icons.ttf") format("truetype"),
		url("/s/fonts/rh-brand-icons.svg#rh-brand-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}   
*/ 

@font-face {
    font-family: 'rh-brand-icons';
    src: url('rh-brand-icons.eot?') format('eot'), url('rh-brand-icons.woff') format('woff'), url('rh-brand-icons.ttf') format('truetype');
}



/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'rh-brand-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-Cardboard-recycling, .icon-Paper-recycling, .icon-industry, .icon-Telecom-vertical, .icon-glass-recycling, .icon-wrench-mechanical, .icon-battery, .icon-office-building-smb, .icon-packing, .icon-mothers-room, .icon-fire-extinguisher, .icon-ewaste-recycling, .icon-circle-sphere, .icon-piggy-bank, .icon-elevator-up-down, .icon-noise, .icon-noise-isolation, .icon-photo-frame-family, .icon-moving, .icon-parking, .icon-aed, .icon-odor, .icon-volume-mute, .icon-emergency-use-stairs, .icon-phone-land-line, .icon-trash, .icon-no-smoking, .icon-construction-hard-hat, .icon-workplace-strategy, .icon-restrooms, .icon-handicapped-accessible, .icon-printer-copier, .icon-recycle, .icon-recycle-cans, .icon-recycle-plastic, .icon-water-droplet, .icon-bike, .icon-sun, .icon-transportation, .icon-utensils, .icon-office-chair, .icon-bus-side-view, .icon-star, .icon-calendar, .icon-protected, .icon-competitive-analysis, .icon-lightbulb-traditional, .icon-enclave, .icon-cd-disk, .icon-lifestyle, .icon-shopping-bag, .icon-lightbulb-energy-efficient, .icon-bus-front-view, .icon-envelope-back, .icon-ohc-iaas, .icon-ohc-paas, .icon-ohc-private-cloud, .icon-ohc-public-cloud, .icon-ohc-hybrid-cloud, .icon-ohc-cloud-apps, .icon-bar-graph, .icon-podium-speakers, .icon-partner-map, .icon-stairs-step-by-step, .icon-sports-play, .icon-price-label, .icon-organization, .icon-increase-productivity, .icon-global-ecosystem, .icon-feather, .icon-enclave-2, .icon-development-model, .icon-award-ribbon, .icon-volume, .icon-tools, .icon-security, .icon-lock, .icon-clock, .icon-mail, .icon-ex-no, .icon-check-yes, .icon-book, .icon-webinar, .icon-waveform, .icon-water-faucet, .icon-virtual-storage-stack, .icon-virtual-storage-brick, .icon-virtual-stack, .icon-virtual-server, .icon-virtual-datacenter, .icon-video, .icon-user-5, .icon-user-4, .icon-user-3, .icon-user-2, .icon-user-1, .icon-trophy, .icon-toolbox, .icon-talk-bubble, .icon-talk-bubble-lined, .icon-talk-bubble-conversation, .icon-storage-stack, .icon-storage-brick, .icon-smart-phone, .icon-server, .icon-server-vintage, .icon-server-vintage-alt1, .icon-server-stack, .icon-server-stack-alt2, .icon-server-stack-alt1, .icon-server-alt2, .icon-server-alt1, .icon-search, .icon-scalable, .icon-safety-warning-alert, .icon-radio-podcast, .icon-pyramid, .icon-puzzle-piece, .icon-process, .icon-policy, .icon-plastic-bottle, .icon-paper, .icon-paper-lined, .icon-office-reception, .icon-office-desk, .icon-network, .icon-network-personal, .icon-network-community, .icon-monitor, .icon-management-checklist, .icon-locked, .icon-leaf, .icon-laptop, .icon-interoperable-cross-platform, .icon-icecaps-mountain, .icon-hosting-support, .icon-health-vertical, .icon-glass-bottle, .icon-gears, .icon-frame, .icon-finance, .icon-fan, .icon-electrical, .icon-eBook, .icon-datacenter, .icon-datacenter-alt1, .icon-data, .icon-cube, .icon-create-cloud, .icon-control-panel, .icon-complexity, .icon-compass, .icon-code, .icon-cloud, .icon-cloud-admin, .icon-circuit, .icon-can, .icon-calculator, .icon-blueprint, .icon-atom, .icon-application, .icon-alert-downtime, .icon-application-alt {
	font-family: 'rh-brand-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-Cardboard-recycling:before {
	content: "\e001";
}
.icon-Paper-recycling:before {
	content: "\e002";
}
.icon-industry:before {
	content: "\e003";
}
.icon-Telecom-vertical:before {
	content: "\e004";
}
.icon-glass-recycling:before {
	content: "\e005";
}
.icon-wrench-mechanical:before {
	content: "\e006";
}
.icon-battery:before {
	content: "\e007";
}
.icon-office-building-smb:before {
	content: "\e008";
}
.icon-packing:before {
	content: "\e009";
}
.icon-mothers-room:before {
	content: "\e00a";
}
.icon-fire-extinguisher:before {
	content: "\e00b";
}
.icon-ewaste-recycling:before {
	content: "\e00c";
}
.icon-circle-sphere:before {
	content: "\e00d";
}
.icon-piggy-bank:before {
	content: "\e00e";
}
.icon-elevator-up-down:before {
	content: "\e00f";
}
.icon-noise:before {
	content: "\e010";
}
.icon-noise-isolation:before {
	content: "\e011";
}
.icon-photo-frame-family:before {
	content: "\e012";
}
.icon-moving:before {
	content: "\e013";
}
.icon-parking:before {
	content: "\e014";
}
.icon-aed:before {
	content: "\e015";
}
.icon-odor:before {
	content: "\e016";
}
.icon-volume-mute:before {
	content: "\e017";
}
.icon-emergency-use-stairs:before {
	content: "\e018";
}
.icon-phone-land-line:before {
	content: "\e019";
}
.icon-trash:before {
	content: "\e01a";
}
.icon-no-smoking:before {
	content: "\e01b";
}
.icon-construction-hard-hat:before {
	content: "\e01c";
}
.icon-workplace-strategy:before {
	content: "\e01d";
}
.icon-restrooms:before {
	content: "\e01e";
}
.icon-handicapped-accessible:before {
	content: "\e01f";
}
.icon-printer-copier:before {
	content: "\e020";
}
.icon-recycle:before {
	content: "\e021";
}
.icon-recycle-cans:before {
	content: "\e022";
}
.icon-recycle-plastic:before {
	content: "\e023";
}
.icon-water-droplet:before {
	content: "\e024";
}
.icon-bike:before {
	content: "\e025";
}
.icon-sun:before {
	content: "\e026";
}
.icon-transportation:before {
	content: "\e027";
}
.icon-utensils:before {
	content: "\e028";
}
.icon-office-chair:before {
	content: "\e029";
}
.icon-bus-side-view:before {
	content: "\e02a";
}
.icon-star:before {
	content: "\e02b";
}
.icon-calendar:before {
	content: "\e02c";
}
.icon-protected:before {
	content: "\e02d";
}
.icon-competitive-analysis:before {
	content: "\e02e";
}
.icon-lightbulb-traditional:before {
	content: "\e02f";
}
.icon-enclave:before {
	content: "\e030";
}
.icon-cd-disk:before {
	content: "\e031";
}
.icon-lifestyle:before {
	content: "\e032";
}
.icon-shopping-bag:before {
	content: "\e033";
}
.icon-lightbulb-energy-efficient:before {
	content: "\e034";
}
.icon-bus-front-view:before {
	content: "\e035";
}
.icon-envelope-back:before {
	content: "\e036";
}
.icon-ohc-iaas:before {
	content: "\e037";
}
.icon-ohc-paas:before {
	content: "\e038";
}
.icon-ohc-private-cloud:before {
	content: "\e039";
}
.icon-ohc-public-cloud:before {
	content: "\e03a";
}
.icon-ohc-hybrid-cloud:before {
	content: "\e03b";
}
.icon-ohc-cloud-apps:before {
	content: "\e03c";
}
.icon-bar-graph:before {
	content: "\e03d";
}
.icon-podium-speakers:before {
	content: "\e03e";
}
.icon-partner-map:before {
	content: "\e03f";
}
.icon-stairs-step-by-step:before {
	content: "\e040";
}
.icon-sports-play:before {
	content: "\e041";
}
.icon-price-label:before {
	content: "\e042";
}
.icon-organization:before {
	content: "\e043";
}
.icon-increase-productivity:before {
	content: "\e044";
}
.icon-global-ecosystem:before {
	content: "\e045";
}
.icon-feather:before {
	content: "\e046";
}
.icon-enclave-2:before {
	content: "\e047";
}
.icon-development-model:before {
	content: "\e048";
}
.icon-award-ribbon:before {
	content: "\e049";
}
.icon-volume:before {
	content: "\e04a";
}
.icon-tools:before {
	content: "\e04b";
}
.icon-security:before {
	content: "\e04c";
}
.icon-lock:before {
	content: "\e04d";
}
.icon-clock:before {
	content: "\e04e";
}
.icon-mail:before {
	content: "\e04f";
}
.icon-ex-no:before {
	content: "\e050";
}
.icon-check-yes:before {
	content: "\e051";
}
.icon-book:before {
	content: "\e052";
}
.icon-webinar:before {
	content: "\e053";
}
.icon-waveform:before {
	content: "\e054";
}
.icon-water-faucet:before {
	content: "\e055";
}
.icon-virtual-storage-stack:before {
	content: "\e056";
}
.icon-virtual-storage-brick:before {
	content: "\e057";
}
.icon-virtual-stack:before {
	content: "\e058";
}
.icon-virtual-server:before {
	content: "\e059";
}
.icon-virtual-datacenter:before {
	content: "\e05a";
}
.icon-video:before {
	content: "\e05b";
}
.icon-user-5:before {
	content: "\e05c";
}
.icon-user-4:before {
	content: "\e05d";
}
.icon-user-3:before {
	content: "\e05e";
}
.icon-user-2:before {
	content: "\e05f";
}
.icon-user-1:before {
	content: "\e060";
}
.icon-trophy:before {
	content: "\e061";
}
.icon-toolbox:before {
	content: "\e062";
}
.icon-talk-bubble:before {
	content: "\e063";
}
.icon-talk-bubble-lined:before {
	content: "\e064";
}
.icon-talk-bubble-conversation:before {
	content: "\e065";
}
.icon-storage-stack:before {
	content: "\e066";
}
.icon-storage-brick:before {
	content: "\e067";
}
.icon-smart-phone:before {
	content: "\e068";
}
.icon-server:before {
	content: "\e069";
}
.icon-server-vintage:before {
	content: "\e06a";
}
.icon-server-vintage-alt1:before {
	content: "\e06b";
}
.icon-server-stack:before {
	content: "\e06c";
}
.icon-server-stack-alt2:before {
	content: "\e06d";
}
.icon-server-stack-alt1:before {
	content: "\e06e";
}
.icon-server-alt2:before {
	content: "\e06f";
}
.icon-server-alt1:before {
	content: "\e070";
}
.icon-search:before {
	content: "\e071";
}
.icon-scalable:before {
	content: "\e072";
}
.icon-safety-warning-alert:before {
	content: "\e073";
}
.icon-radio-podcast:before {
	content: "\e074";
}
.icon-pyramid:before {
	content: "\e075";
}
.icon-puzzle-piece:before {
	content: "\e076";
}
.icon-process:before {
	content: "\e077";
}
.icon-policy:before {
	content: "\e078";
}
.icon-plastic-bottle:before {
	content: "\e079";
}
.icon-paper:before {
	content: "\e07a";
}
.icon-paper-lined:before {
	content: "\e07b";
}
.icon-office-reception:before {
	content: "\e07c";
}
.icon-office-desk:before {
	content: "\e07d";
}
.icon-network:before {
	content: "\e07e";
}
.icon-network-personal:before {
	content: "\e07f";
}
.icon-network-community:before {
	content: "\e080";
}
.icon-monitor:before {
	content: "\e081";
}
.icon-management-checklist:before {
	content: "\e082";
}
.icon-locked:before {
	content: "\e083";
}
.icon-leaf:before {
	content: "\e084";
}
.icon-laptop:before {
	content: "\e085";
}
.icon-interoperable-cross-platform:before {
	content: "\e086";
}
.icon-icecaps-mountain:before {
	content: "\e087";
}
.icon-hosting-support:before {
	content: "\e088";
}
.icon-health-vertical:before {
	content: "\e089";
}
.icon-glass-bottle:before {
	content: "\e08a";
}
.icon-gears:before {
	content: "\e08b";
}
.icon-frame:before {
	content: "\e08c";
}
.icon-finance:before {
	content: "\e08d";
}
.icon-fan:before {
	content: "\e08e";
}
.icon-electrical:before {
	content: "\e08f";
}
.icon-eBook:before {
	content: "\e090";
}
.icon-datacenter:before {
	content: "\e091";
}
.icon-datacenter-alt1:before {
	content: "\e092";
}
.icon-data:before {
	content: "\e093";
}
.icon-cube:before {
	content: "\e094";
}
.icon-create-cloud:before {
	content: "\e095";
}
.icon-control-panel:before {
	content: "\e096";
}
.icon-complexity:before {
	content: "\e097";
}
.icon-compass:before {
	content: "\e098";
}
.icon-code:before {
	content: "\e099";
}
.icon-cloud:before {
	content: "\e09a";
}
.icon-cloud-admin:before {
	content: "\e000";
}
.icon-circuit:before {
	content: "\e09b";
}
.icon-can:before {
	content: "\e09c";
}
.icon-calculator:before {
	content: "\e09d";
}
.icon-blueprint:before {
	content: "\e09e";
}
.icon-atom:before {
	content: "\e09f";
}
.icon-application:before {
	content: "\e0a1";
}
.icon-alert-downtime:before {
	content: "\e0a0";
}
.icon-application-alt:before {
	content: "\e0a2";
}
