.isv_label {
	color: #999; 
	font-size: small; 
	font-weight: bold; 
	}
	
.isv_box_title {
	border-left: 20px solid #C8C5AC;
	border-bottom: 1px solid #C8C5AC;
	padding-top: 30px;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-top: 30;
	margin-bottom: 10;
}

/* These need to be removed
h1 {
	margin-bottom: 0px;
}

h2 {
	margin-bottom: 5px;
}

h4 {
	margin-top: 5px;
}
*/

.notice_sm { 
	color: #666666;
	font-size: 1.0em; 
	font-weight: bold; 
	} 

.notice_med { 
	color: #666666;
	font-size: 1.5em; 
	font-weight: bold; 
	} 

.notice_lg { 
	color: #666666;
	font-size: 2.0em; 
	font-weight: bold; 
	} 

.required { color: #990000 } 
.html_ok  { color: #990000; font-weight: bold;  } 
.text {
	color: #999; 
	font-size: .8em; 
	font-weight: normal; 
	margin-bottom: 5px;
	}


/* things with backgounds and borders */

.submit   {
	color: #fff;
	font-size:small;
	font-weight:bold;
	background-color: #c00;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	}

.box_grey {
	background-color:#eee; 
	border: 1px solid #999; 
	padding: 0px 5px 0px 10px;
	font-size: .8em;
	margin-bottom: 20px; 
}

.tabline {
	padding-top: 5px; 
	padding-bottom: 2px; 
}

.actions {
	padding-top: 5px; 
	padding-bottom: 2px; 
}

.box_vgov {
	border: 1px solid #999; 
	padding: 10px;
}

.browse_table {
	padding: 0px;
	margin: 0px;
	width: 100%; 
}

.browse_table td {
	font-size: normal;
}

.letters { 
	color: #000099;
	font-size: 1.25em; 
	font-weight: bold; 
	padding-top: 10px; 
	padding-bottom: 2px; 
	border-bottom: 1px solid #999;
}

.head_row {
	background:#999; 
	color:#ffffff; 
	font-size: 1.25em; 
	padding-top: 10px; 
	padding-bottom: 2px; 
}

.head_row td {
	border-right: 1px solid white;
}

.even_row {
	background:#eeeeee; 
}

.odd_row {
	background:#cccccc; 
}

.greetingline {

}

#navigationbar {
	width: 170px;
	border: 1px solid #999; 
	background: #eee;
	margin-bottom: 5px;
	float:right;
}

#navigationbar ul {
	list-style:none;
	padding:0px;
	margin: 0px 0px 0px 5px;
}

#navigationbar a {
	text-decoration: none;
}

#navigationbar h3 {
	padding: 0px 0px 0px 5px;
	background-color: #999;
	color: #fff;
}

.breadcrumbs {
	margin-bottom: 5px;
	font-size:.8em;
}

.breadcrumbs a {
	text-decoration: none;
}

.form_label {
	font-weight: bold;
}

td {
	vertical-align: top;
}

table.colorTable {
	width: 100%;
}

table.colorTable tr td ul {
	list-style-type: square;
	list-style-position: outside;
	margin: 1px;
	margin-left: 12px;
	padding: 0px;
}

table.colorTable tr td ul li {
	width: 70px;
	margin-top: 0px;
}

