/*
---------------------------------------------------
Shared form fieldset styles
---------------------------------------------------
*/

.fieldsetform_embedded, 
.fieldsetform {
	background-color: #eee;
	border: 1px solid #b9b9b9;
	width: auto;
	padding: 15px;
	margin-bottom: 1.25em;
	}
	
.fieldsetform_embedded #special_questions ol li, 
.fieldsetform #special_questions ol li {
	padding: 10px 0;
	margin: 0; }
	
.fieldsetform_embedded #special_questions ol label, 
.fieldsetform #special_questions ol label {
	display: block;
	font-weight: bold;
	}
	
.fieldsetform_embedded #special_questions ol li ul li, 
.fieldsetform #special_questions ol li ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;  
	}
	
.fieldsetform_embedded #special_questions ol li ul, 
.fieldsetform #special_questions ol li ul {
	padding: 0;
	margin: 0;  
	}
	

.fieldsetform_embedded #special_questions li span, 
.fieldsetform #special_questions li span {
	margin-left: 0;
	}

.fieldsetform_embedded .rowform, 
.fieldsetform .rowform {
	margin: 0 0 10px 0;
	}
	
.fieldsetform_embedded input.checkbox_radio, 
.fieldsetform input.checkbox_radio {  
	width: auto;
	border: 0;
	background-color: transparent; 
	}
	
.fieldsetform_embedded input.rowbutton, 
.fieldsetform input.rowbutton {
	width: auto;
	margin-left: 45%;
	margin-top: 5px;
	}
	
.fieldsetform #special_questions .rowform label, 
.fieldsetform #special_questions .rowform ul,
.fieldsetform_embedded #special_questions .rowform label, 
.fieldsetform_embedded #special_questions .rowform ul {
	text-align: left;
	display: block;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 5px 10px 5px 0; 
	}
	
.rowform:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	}

.rowform {display:inline-block;}
/* Hide from IE6 \*/
.rowform {display:block;}
/* End */

/*
----------------------------------------------------
   	Begin styles used in embedded web forms
----------------------------------------------------  
*/
	
.fieldsetform_embedded label {
	display: block;
	padding: 0 0 3px 0;
	}

.fieldsetform_embedded span {
	display: block;
	}

.fieldsetform_embedded input, .fieldsetform_embedded textarea {
	width: 97%;
	background-color: #fff;
	}
	
.fieldsetform_embedded #special_questions {
	padding: 0;
	background-color: none;
	margin-top: 25px; 
	}
	
	
	
/*
----------------------------------------------------
   	Begin styles used in full page web forms
----------------------------------------------------  
*/
	
.fieldsetform .rowform label  {
	width: 240px;
	/*margin: 0 10px 0 0;*/
	padding: 5px 10px 5px 0;
	float: left;
	text-align: right;
	font-weight: bold;
	font-size: 95%; 
	}

.fieldsetform input, .fieldsetform textarea {
	width: 350px;
	background-color: #fff;
	}	
	
.fieldsetform span {
	margin-left: 240px;
	display: block; 
	}
	
.fieldsetform .rowform span+span {
	padding-top: 4px;
	}

.fieldsetform #special_questions {
	padding: 20px 60px;
	margin-top: 25px; 
	}

	
