/************************************************************** LOGO HEADER */
	
/*
#header {
	width: 100%;
	height: 42px;
	clear: left;
	}
	
#header form {
	width: 201px;
	margin-top: 5px;
	float: right;
	text-align: right;
	}
	
#header input {
	background: #eee;
	}
	
#rhLogo {
	float: left;
	margin-left: 15px;
	}
*/
	
/************************************************************** WIDGETS */

#widget {
	width: 132px;
	padding-bottom: 9px;
	margin-bottom: 1em;
	font-size: 10px;
	background-image: url(/g/chrome/corner_widget_bottom.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	}
	
#widgetRed {
	width: 132px;
	padding-bottom: 9px;
	margin-bottom: 1em;
	font-size: 10px;
	background-image: url(/g/chrome/corner_widget_bottom.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	}
	
#widget img {
	display: block;
	padding: 0;
	margin: 0;
	}
	
#widget h3 {
	font-size: 10px;
	color: white;
	background: #999;
	padding: 4px 10px;
	margin: 0;
	}
	
#widgetRed h3 {
	font-size: 10px;
	color: white;
	background: #900;
	padding: 4px 10px;
	margin: 0;
	}
	
#widget h3.noPromo {
	background-image: url(/g/chrome/corner_widget_top.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 5px;	
	}
	
#widgetRed h3.noPromoRed {
	background-image: url(/g/chrome/corner_widgetRed_top.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 5px;	
	}

#widget .noPromoLtGrey {
	background-image: url(/g/chrome/corner_widget_top_ltgrey.png);
	background-position: top left;
        background-repeat: no-repeat;
	padding-top: 0;
        padding-bottom: 0;
	border-bottom: 1px solid #999;
        background-color: #f2f2f2;
        }
        
#widgetCMSTop {
	 background: url(http://www.redhat.com/g/chrome/corner_widget_top_ltgrey.png) 50% 50% no-repeat; 
	 padding-top: 14px;
	 }

.widgetBody {
	width: 132px;
	padding: 9px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #f2f2f2;
/* tantek box hack for ie5 win */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 112px;
	}

/* for Opera */
html>body .widgetBody {
	width: 112px;
	}
	
.widgetBody input {
	font-size: 10px;
	}
	
.widgetBody ul.linkage {
	list-style: none;
	padding-left: 8px;
	margin-left: 8px;
	}
	
.widget_related_title {
	background: url(/g/chrome/corner_lightblue.gif) top left no-repeat;
	padding: 10px 0 0 15px;
}

.widget_related {
	background: url(/g/relatedbg.png) top left repeat-x;
}


/**************************************************************Quotes */

.quotenoPromo {
	background-image: url(/g/chrome/240top.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 5px;
	}

.quoteBody {
	width: 240px;
	padding: 9px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #999999;
/* tantek box hack for ie5 win */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 220px;
	}
	
#quote {
	width: 240px;
	padding-bottom: 9px;
	margin-bottom: 1em;
	font-size: 10px;
	color: white;
	background-image: url(/g/chrome/240bottom.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	}	
	
/************************************************************** FOOTER */

#footwrap {padding: 40px 15px 5px 0;}

p#footer {
	padding-top: 40px;
	margin-left: 15px;
	line-height: 1.5em;
	color: #999;
	font-size: xx-small;
	clear: both;
	}

#footwrap p#footer {
	clear: none;
	float: left;
	width: 540px;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	color: #999;
	font-size: xx-small;
	}
	
p#footer a {
	text-decoration: none;
	}
	
/************************************************************** MAIN CONTENT */
	
#contentWrap {
	margin: 15px 0 10px 0;
	padding: 0;
	}
	
#contentWrap:after {
    content: "."; 
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #contentWrap {height: 1%;}
    /* End Holly Hack */
    
#contentWrap1Col {
	margin: 25px 15px 10px 15px;
	padding: 0;
	}
	
#contentWrap1Col:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #contentWrap1Col {height: 1%;}
    /* End Holly Hack */
    
/**** wrap this around any area with 2 columns except for "    compare" */
    
.content2Col:after {
    content: "."; 
    display: block; 
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .content2Col {height: 1%;}
    /* End Holly Hack */
    
/**** wrap this around any area with 2 columns that are followed by an HR */
    
.content2ColHR {
	padding-bottom: 15px;
	border-bottom: 1px solid #C8C5AC;
	margin-bottom: 15px;
	}
    
.content2ColHR:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .content2ColHR {height: 1%;}
    /* End Holly Hack */
    

    
/**** following two styles define LEFT SIDENAV and RIGHT-HAND CONTENT */
	

	
#content3ColRight {
float: left;
width: 421px;
margin-right: 15px;
}
	
    
#contentColRight {
        margin-left: 147px;
}    

        /* Holly Hack Targets IE Win only \*/
    * html #contentColRight {margin-left: 144px;}
    /* End Holly Hack */


/**** following two styles define LEFT-HAND CONTENT and RIGHT-HAND WIDGETS */
	
#contentColLeft {
	float: left;
	width: 573px;
	}
	
#contentColLeft h1 {
	clear: both;
}

#widgetCol {
	margin-left: 588px;
	}
	
	/* Holly Hack Targets IE Win only \*/
    * html #widgetCol {margin-left: 583px;}
    /* End Holly Hack */

#widget3Col {
float:left;	
width: 132px;
	}


    
#widgetFloat {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	}
    
#widgetWrap:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #widgetWrap {height: 1%;}
    /* End Holly Hack */
    
    
    
#logoutFloat {
	float: right;
	margin: 15px;
	margin-right: 10px;
	margin-top: 0px
	}
#logoutFloat a {
	text-decoration: none;
	color: rgb(153, 0, 0);
	}
	
/**** END basic template styles */
	
/**** following styles define HALF-WIDTH CONTENT COLUMNS */
	
.halfColLeft {
	float: left;
	}
	
	/* Holly Hack Targets IE Win only \*/
    * html .halfColLeft {position: static;}
    /* End Holly Hack */
	
.halfColRight,
.twothirdColRight {
	margin-left: 294px;
	}
	
	/* Holly Hack Targets IE Win only \*/
    * html .halfColRight,
    * html .twothirdColRight{margin-left: 291px;}
    /* End Holly Hack */
    
.halfColRight,
.halfColLeft {
	width: 279px;
	padding-top: 0;
	}
	
.twothirdColRight {
	width: 396px;
	}
	
	/* Holly Hack Targets IE Win only \*/
    * html .twothirdColRight{width: 390px;}
    /* End Holly Hack */
    
.onethirdColRight {
	width: 279px;
	margin-left: 441px;
	}
	
	/* Holly Hack Targets IE Win only \*/
    * html .onethirdColRight {margin-left: 438px;}
    /* End Holly Hack */
	
.twothirdColLeft {
	width: 426px;
	float: left;
	}
	
.halfColRight ul,
.halfColLeft ul {
	padding: 0 10px 0 20px;
	margin: 5px 0 11px 0;
	}
	
.contentIndent {
	margin-left: 15px;
	margin-bottom: 15px;
	}
	
.noIndent p	{
	margin: 0;
	}

/* HalfFullCols -- right and left 50% cols on a full 720px page, like /choice/ */

.halfFullColLeft {
	float: left;
}
                                                                                                                                                                                       
	/* Holly Hack Targets IE Win only \*/
	* html .halfFullColLeft {position: static;}
	/* End Holly Hack */
                                                                                                                                                                                       
.halfFullColRight {
	margin-left: 375px;
}
                                                                                                                                                                                       
	/* Holly Hack Targets IE Win only \*/
	* html .halfFullColRight {margin-left: 357px;}
	/* End Holly Hack */
                                                                                                                                                                                       
.halfFullColRight,
.halfFullColLeft {
        width: 345px;
        padding-top: 0;
        }
/* targets IE7 only */
*:first-child+html .halfFullColRight { width: 315px }

/**** following styles define INTRO PARAGRAPHS ON MAIN AND SUB SECTION PAGES */
	
#intro {
	color: #333;
	margin-bottom: 15px;
	}
	
#intro h1 {
	color: #333;
	text-transform: uppercase;
	}
	
#intro h2 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: large;
	}
	
#intro p {
	font-size: medium;
	line-height: 1.33em;
	margin: 0;
	}
	
#intro a {
	text-decoration: none;
	}
	
#introMain {
	margin-left: 15px;
	}
	
#introSub {
	padding-bottom: 15px;
	border-bottom: 2px solid #e6e6e6;
	}
	
/**** following styles define the BUY BUTTONS and surroundings */

.promoWide {
	margin-bottom: 25px;
}
	
.buyBox {
	color: #999;
	margin-bottom: 10px;
	border-bottom: 2px solid #e6e6e6;
	}
	
.buyWrap {
	height: 29px;
	}

.buyWrap:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .buyWrap {height: 1%;}
    /* End Holly Hack */
    
.buyBox p {
	margin-top: 5px;
	padding: 0;
	}
    
button.buyButton {
	float: left;
	position: relative;
	background: url(/g/chrome/link_rhelblue.png) no-repeat;
	text-align: center;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	width: 75px;
	height: 29px;
	border: 0;
	padding: 0;
	margin: 0;
}

p.buyText {
	color: #000;
	width: 200px;
	margin: 0 0 0 85px;
}

p.buyTextToo	{
	color: #000;
	margin: 0 0 0 85px;
	}
	
/**** following styles define COLUMNS THAT MUST BE ALIGNED AND COMPARE TWO CONCEPTS */

.compare {
	margin: 0 0 15px 0;
	padding: 0;
	}
	
.compare:after {
    content: "."; 
    display: block; 
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .compare {height: 1%;}
    /* End Holly Hack */
	
.compareColLeft,
.compareColRight {
	width: 279px;
	background-image: url(/g/chrome/corner_listbox_cream_bottom.png);
	background-position: bottom right;
    	background-repeat: no-repeat;
	}

.compareColLeftNoBG,
.compareColRightNoBG  {
	width: 279px;
	}

.compareColLeft h2,
.compareColRight h2,
.compareColLeftNoBG h2,
.compareColRightNoBG h2 {
	margin-bottom: 5px;
	}

.compareColLeft,
.compareColLeftNoBG {
	float: left;
	}
	
.compareColRight,
.compareColRightNoBG {
	float: right;
	}

.compareColLeftClear,
.compareColRightClear {
        width: 279px;
        }
                                                                                                                             
.compareColLeftClear h2,
.compareColRightClear h2 {
        margin-bottom: 5px;
        }
                                                                                                                             
.compareColLeftClear {
        float: left
        }
                                                                                                                             
.compareColRightClear {
        float: right
        }
	
/**** following styles define ROUNDED CORNER LIGHT BACKGROUND LISTS */
	
ul.listBoxLeft,
ul.listBoxRight {
	width: 249px;
	background-color: #f7f2d0;
    	background-image: url(/g/chrome/corner_listbox_cream_top.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 7px 10px 0 20px;
	margin: 5px 0 11px 0;
	}
	
ul.listBoxLeft li,
ul.listBoxRight li {
	padding: .5em 0 .5em 0;
	}

	
.boxCream	{
	width: 279px;
	background-color: #f7f2d0;
        background-image: url(/g/chrome/corner_listbox_cream_bottom.png);
        background-position: bottom right;
        background-repeat: no-repeat;
	padding-bottom: 10px;
	margin-bottom: 15px;
        }

ul.listBoxCream	{
	width: 249px;
	background-color: #f7f2d0;
        background-image: url(/g/chrome/corner_listbox_cream_top.png);
        background-position: top right;
        background-repeat: no-repeat;
        padding: 7px 10px 0 20px;
        margin: 5px 0 0 0;
	list-style: none;
        }

ul.listBoxCream li {
	font-size: smaller;
	font-weight: bold;
	line-height: 1.5em;
	background-image: url(/g/chrome/bullet_bluearrowoncream_dot.png);
        background-repeat: no-repeat;
        background-position: 0 3px;
        padding: 1px 0 1px 18px;
	}
	
/**** following styles define PRODUCT DESCRIPTIONS ON MAIN SECTION PAGES */
	
.prod {
	width: 279px;
	margin-bottom: 15px;
	}
	
.prod:after {
    content: "."; 
    display: block; 
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .prod {height: 1%;}
    /* End Holly Hack */
	
.prod h3 {
	margin: 0 0 0 81px;
	font-size: x-small;
	text-transform: uppercase;
	}
	
.prod p {
	width: 198px;
	margin: 3px 0 0 81px;
	}
	
.prod img {
	float: left;
	margin: 0 0 0 15px;
	}
	
/**** following styles define CAPTIONS FOR IMAGES */

div.imgBox {
  	background: url(/g/chrome/corner_boxcream_br.png) bottom right no-repeat;
  	background-color: #F7F2D0;
  	margin-bottom: 15px;
  	border-bottom: 1px solid white;
  	}
  
div.imgBox img {
	padding: 0;
	margin-bottom: -3px;
  	background-color: #fff;
	}
	
div.caption {
  	background: url(/g/chrome/corner_boxcream_tr.png) top right no-repeat;
  	font-style: italic;
  	font-size: x-small;
 	}
  
div.caption h3 {
  	background: url(/g/chrome/corner_boxcream_tl.png) top left no-repeat;
  	padding: 8px 0 0 8px;
  	font-size: x-small;
  	margin: 0;
 	}
  
div.caption p {
  	background: url(/g/chrome/corner_boxcream_bl.png) bottom left no-repeat;
  	margin: 0;
  	padding: 0 8px 10px 8px;
  	}
  
div#imgClusterSuiteDiag {
	width: 427px;
 	}
 	
 /**** following styles define the CLEAR BOX W/ROUNDED CORNERS */
 
 .clearBox {
 	width: 279px;
 	background: url(/g/chrome/corner_halflinebox_top.png) top right no-repeat;
 	}
 	
 .clearBoxWide {
 	width: 573px;
 	background: url(/g/chrome/corner_mediumlinebox_top.png) top right no-repeat;
 	}
 	
 .clearBoxWide_v2 {
 	width: 539px;
 	background: url(/g/chrome/corner_widebox_top.gif) top right no-repeat;
 	}	
 	
 .clearBoxFull {
 	width: 690px;
 	background: url(/g/chrome/corner_lineboxfull_top.png) top right no-repeat;
 	}
 
 .clearBoxHalfFull	{
	width: 345px;
	background: url(/g/chrome/corner_lineboxhalffull_top.gif) top right no-repeat;
	}
	
 .clearBoxTop3column	{
	width: 420px;
	padding-top: 7px;
	background: url(/g/chrome/corner_linebox420_top.png) top right no-repeat;
	}
        
 .clearBoxXtraWide {
 	width: 720px;
 	background: url(/g/chrome/corner_lineboxXtraWide_top.png) top right no-repeat;
 	}
	
 .clearBox240 {
 	width: 240px;
 	background: url(/g/chrome/corner_linebox240_top.png) top right no-repeat;
 	}
 	
  .clearBox_trans_240 {
 	width: 240px;
 	background: url(/g/chrome/clr_corner_linebox240_top.png) top right no-repeat;
 	}	
	
  .clearBox,
  .clearBoxWide,
  .clearBoxWide_v2,
  .clearBoxFull,
  .clearBoxXtraWide,
  .clearBox240,
  .clearBox_trans_240,
  .clearBoxHalfFull {
 	padding-top: 7px;
 	margin-bottom: 15px;
 	}
 	.clearBoxWide_Inner_v2 {
 	padding-bottom:7px;
 	background: url(/g/chrome/corner_widebox_bottom.gif) bottom left no-repeat;
 	}
 	.clearBoxWide_Inner_v2 .clearBoxBody {
 	background-color: #ffffff;
 	}
  .clearBoxInner {
 	background: url(/g/chrome/corner_halflinebox_bottom.png) bottom left no-repeat;
 	}
 	
  .clearBoxInnerWide {
	background: url(/g/chrome/corner_mediumlinebox_bottom.png) bottom left no-repeat;
	}
 	
  .clearBoxInnerFull {
 	background: url(/g/chrome/corner_lineboxfull_bottom.png) bottom left no-repeat;
 	}
 	
  .clearBoxInnerHalfFull {
	background: url(/g/chrome/corner_lineboxhalffull_bottom.gif) bottom left no-repeat;
	}
	
  .clearBoxInnerXtraWide {
	background: url(/g/chrome/corner_lineboxXtraWide_bottom.png) bottom left no-repeat;
	}
  
  .clearBoxBottom3column {
	padding-bottom: 7px;
	background: url(/g/chrome/corner_linebox420_bottom.png) bottom left no-repeat;
	}

  .clearBoxInner240 {
	background: url(/g/chrome/corner_linebox240_bottom.png) bottom left no-repeat;
	}
	
  .clearBoxInner_trans240 {
	background: url(/g/chrome/clr_corner_linebox240_bottom.png) bottom left no-repeat;
	}	

 .clearBoxInner,
 .clearBoxWide2_Inner, 
 .clearBoxInnerWide,
 .clearBoxInnerXtraWide,
 .clearBoxInnerFull,
 .clearBoxInner240,
 .clearBoxInner_trans240,
 .clearBoxInnerHalfFull {
 	width: 100%;
 	padding-bottom: 7px;
 	}
 
 .clearBoxBody {
 	padding: 5px 14px;
 	border-left: 1px solid #b4b4b4;
 	border-right: 1px solid #b4b4b4;
 	}
 	
 .clearBoxBodyNew {
 	padding: 10px 14px;
 	margin: 5px 0;
 	border: 1px solid #b4b4b4;
 	-moz-border-radius: 6px;
 	-webkit-border-radius: 6px;
 	border-radius: 6px;
 }
 	
 .clearBoxBody h2 {
 	font-size: small;
 	}
	
.clearBoxWide div.formrow span.formfield {
	width: 430px;
	}
                                                                                                                                                         
.clearBoxFullQuote {
	width: 690px;
	padding-top: 7px;
	background: url(/g/chrome/corner_lineboxfull_top.png) top right no-repeat;
	margin-bottom: 15px;
	}
                                                                                                                                                         
.clearBoxQuote {
	width: 573px;
	padding-top: 7px;
	background: url(/g/chrome/corner_lineboxwide_top.png) top right no-repeat;
	margin-bottom: 15px;
	margin-left: 50px;
	}
 	
 .clearBoxBody3column {
 	border-left: 1px solid #b4b4b4;
 	border-right: 1px solid #b4b4b4;
 	}
	
.creamBoxWide {
	background: url("/g/chrome/corner_creamwide_top.gif") top right no-repeat;
	width: 573px;
	 }
	 
.creamBoxInnerWide {
	background: url("/g/chrome/corner_creamwide_bottom.gif") bottom left no-repeat;
	}
	
.creamBoxBody { padding:5px 14px;
	background-color:#F7F2D0; }
	
 .creamBoxInnerWide {
 	width: 100%;
 	padding-bottom: 11px;
 	}
	
.creamBoxWide {
 	padding-top: 11px;
 	margin-bottom: 15px;
 	}
	
	
div.accentLightHalf, 
div.accentLight {
	width: 279px;
	background: #f7f3dc url(/g/chrome/corner_creambox_top.gif) top left no-repeat;
 	padding-top: 7px;
 	margin-bottom: 15px;
 	}
 	
div.accentLightHalfBottom, 
div.accentLightBottom {
	background: url(/g/chrome/corner_creambox_bottom.gif) bottom right no-repeat;
 	width: 100%;
 	padding-bottom: 7px;
	}
div.accentLightHalf {
	width: 353px;
	background: #f7f3dc url(/g/chrome/corner_mask_half_top.gif) top left no-repeat;
}
div.accentLightHalfBottom {
	background: url(/g/chrome/corner_mask_half_bottom.gif) bottom right no-repeat;
}
 .accentLightBody {
 	font-size: small;
 	padding: 5px 14px;
 	}
 	
 .accentLightBody h2 {
 	font-size: small;
 	}
  	
 .related_products {
 	background: url('/g/relatedbg.png') top left repeat-x;
 	margin-top: 20px;
 	clear: right;
 }

.related_products_inner {
	background: url(/g/chrome/corner_lightblue_bottom.gif) bottom right no-repeat;
}

.related_title {
	background: url('/g/chrome/corner_lightblue.gif') top left no-repeat;
	padding-left: 15px;
	padding-top: 10px;
}

.lightblue_352 {
	background: url(/g/solutions_rhes_bg.png) top left no-repeat;
}
.lightblue_352 .accent {
	border-color: #999;
}

.lightblue_572 {
	background: white url('/g/chrome/blue-gradient.png') top left repeat-x;
	-moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px;
		-moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px;
}
.lightblue_572 .accent {
	border-color: #eeffff;
}

 /**** following styles if you need a HORIZONTAL RULE */
 	
 .HRBox {
	padding-bottom: 15px;
	border-bottom: 1px solid #C8C5AC;
	margin-bottom: 15px;
	}
 	
 /**** following styles define the an IMAGE ON THE LEFT W/TEXT ON THE RIGHT */
 	
div.imgLeft {
	margin-bottom: 15px;
 	}
	
div.imgLeft img {
 	float: left;
 	margin: 0 30px 15px 0;
 	}
 
div.imgLeft img.margin15	{
	margin-right: 15px;
	}


/* begin steps(wizard) styles */

div.boxHeader {
	padding: 6px;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	}
div.boxHeader h1{
	font-size: 16px; 
	padding: 0 0 3px 10px;
	}
div.boxSection{
	border-bottom: 1px solid #cccccc;
	padding: 15px;
	}
	
/* end steps(wizard) styles */

div.scrollBox {
	overflow: auto;
	margin: 5px;
	padding: 5px;
	height: 275px;
	background-color: #F7F3DC;
	border: 1px solid #DEDCC1;
}

/*---  Full page 3 columns 1/3 1/3 1/3 widths  ---*/

.onethird3Col {
	float:left;
	padding-left:12px;
	margin-right:7px;
	width:31%;}
	
.onethird3Colfirst {
	margin-left:0;
	padding-left:0;
	border-left:0; }
	
.onethird3ColBg { 
	background: url("/g/chrome/onethird3ColBg.gif") 0 0 repeat-y; }
	
.onethird3ColTop {
	height: 75px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color:#fff; }
	
.onethird3ColBgCover {
	background: url("/g/chrome/whtbgcover90.gif") top left repeat-x; }


/*---   Default clear works in IE7 as well  ---*/
.clearWrap:after {
	content:".";
	display: block;
	height: 0;
	clear:both;
	visibility:hidden;
}

.clearWrap {display:inline-block;}/* Hide from IE Mac \*/
.clearWrap {display:block;}/* End hide from IE Mac */

/* =Tabs & whiteBox
-------------------------------------------------------------------*/

ul.whiteBox_nav {
    display:block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
    }

ul.whiteBox_nav li {
    margin: 0;
    margin-right: 2px;
    margin-bottom: -1px;
    float: left;
    background: url("/g/chrome/graytab_right.gif") no-repeat top right;
    }

ul.whiteBox_nav li a {
    display: block;
    padding: 0 1.1em;
    line-height: 22px;
    background: url("/g/chrome/graytab_left.gif") no-repeat top left;
    text-decoration: none;
    color: #fff;
    float: left;
    }

ul.whiteBox_nav a:link, ul.whiteBox_nav a:visited, ul.whiteBox_nav a:active {
    color: #FFF;
    }

ul.whiteBox_nav a:hover {
    color: #333;
    }

#storeTabWrap {
    padding: 15px 0 0 15px;
    z-index: 10;
    position: relative;
    font-size: 95%;
    }
	
#storeTabWrap div { height: 1%; } /* Needed for IE6 */

/*store pages*/
div#storeTabWrap ul.whiteBox_nav li.selected { 
    background-image: url("/g/chrome/graytab_right_on.gif");
    background-repeat: no-repeat;
    background-position: top right;
    border-bottom: 0;
    }

/*store pages*/
div#storeTabWrap ul.whiteBox_nav li.selected a {
    background-image: url("/g/chrome/graytab_left_on.gif");
    background-repeat: no-repeat;
    background-position: top left;
    color: #333;
    border-bottom: 0;
    }

/* expandable box up to 700width and 500height */

.whiteBox, .tanBox {
    background: url("/g/chrome/whiteBox_topleft.png") top left no-repeat;
    text-align: left;
    width:100%;
    margin-bottom: 25px;
      }

.whiteBox h2, .tanBox h2 {
    background: url("/g/chrome/whiteBox_topright.png") top right no-repeat;
    padding: 15px 15px 10px;
    margin: 0;
      }

/* if no h2 is needed */
.whiteBox h2.none, .tanBox h2.none {
    padding: 0;
      }

.whiteBox h2 span, .tanBox h2 span {
    visibility: hidden;
      }

.whiteBoxBody, .tanBoxBody {
    background: url("/g/chrome/whiteBox_rightborder.png") top right repeat-y;
    padding: 0 15px 5px;
    margin: 0;
      }

.whiteBoxBody p, .tanBoxBody p {
    margin-top: 0;
      }

.whiteBoxBody ul, .tanBoxBody ul {
    margin-top:-5px;
     }

/* if 2 Columns are needed */
.whiteBox2ColLeft, .tanBox2ColLeft {
    float:left;
    width: 255px;
    }

.whiteBox2ColRight, .tanBox2ColRight {
    margin-left: 265px;
    }

.whiteBoxFooter, .tanBoxFooter {
    background: url("/g/chrome/whiteBox_bottomleft.png") bottom left no-repeat;
    min-height: .25em;
      }

.whiteBoxFooter div, .tanBoxFooter div {
    background: url("/g/chrome/whiteBox_bottomright.png") bottom right no-repeat;
    padding: 0 15px 15px;
    display: block;
    margin: -1em 0 0 0;
    min-height: .25em;
      }
      
      
/* Set tanBox bg images. These must come after^^ whiteBox styles. */

.tanBox { background: url("/g/chrome/tanBox_topleft.png") top left no-repeat; }
.tanBox h2 { background: url("/g/chrome/tanBox_topright.png") top right no-repeat; }
.tanBoxBody { background: url("/g/chrome/tanBox_rightborder.png") top right repeat-y; }
.tanBoxFooter { background: url("/g/chrome/tanBox_bottomleft.png") bottom left no-repeat; }
.tanBoxFooter div { background: url("/g/chrome/tanBox_bottomright.png") bottom right no-repeat; }


.tabcontent{
    display:none;
    }
    
/* BEGIN new "rhel5" styles */
#contentColRight_v2 {
	margin: 0;
	margin-left: 150px;
}    
	/* Holly Hack Targets IE Win only \*/
	* html #contentColRight_v2 {float: right; margin: 0;}
	/* End Holly Hack */

div.content_area_v2 {
	margin: 0;
	padding: 15px;
	padding-top: 25px;
	height: 100%;
	background-color: #ffffff;
	background-image: url(/g/rhel/rhel_content_bg.png);
	background-position: top right;
	background-repeat: repeat-y;
}
div.page_rhel {
	height:100%;
	top: -5px;
	position: relative;
	background: #540006 url(/g/rhel/rhel5_bg.png) no-repeat top left;
}

div.page_rhes {
        height:100%;
        top: -5px;
        position: relative;
        background: #be0000 url(/g/enterprise_solutions_bg.jpg) no-repeat top left;
}
div.page_jboss {
	height:100%;
	top: -5px;
	position: relative;
	background: #0092db url(/g/jboss_bg.png) no-repeat top left;
}

div.page_management {
	height:100%;
	top: -5px;
	position: relative;
	background: #9C0000 url(/g/management_bg.png) no-repeat top left;
}

div.page_rhev {
	height:100%;
	top: -5px;
	position: relative;
	background: #CC0000 url(/g/RHEV/RHEV_bkgd.png) no-repeat top left;
}

div.page_storage {
	height:100%;
	top: -5px;
	position: relative;
	background: #eee url(/g/storage_bg.png) no-repeat top left;
}

.twoColumn {
	margin: 0;
}
.twoColumn:after {
	content: "."; 
	display: block; 
	height: 1px;
	margin-top: -1px;
	overflow: hidden;
	clear: both; 
	visibility: hidden;
}
	/* Holly Hack Targets IE Win only \*/
	* html .twoColumn {height: 1%;}
	/* End Holly Hack */
.halfColumn {
	float: left;
	width: 245px;
	margin: 0 15px 0 0;
}

/** halfColumnTwo properly halves ContentCol divs with a contentIndent **/
.halfColumnTwo {
	float: left;
	width: 264px;
	margin: 0 15px 0 0;
}

.thirdColumn {
	float: left;
	width: 176px;
	margin: 0 15px 0 0;
}

.halfColumnFull {
	float: left;
	width: 340px;
	margin: 0 15px 0 0;
}
/** halfColumnFullTwo fixes a spacing problem in its predecessor **/
.halfColumnFullTwo {
        float: left;
        width: 352px;
}


.largerLeftColumn {
	margin: 0;
}

.largerLeftsideColumn {
	float: left;
	width: 440px;
	margin: 0 15px 0 0;
}

.largerRightsideColumn {
	float: right;
	width: 250px;
	margin: 0 15px 0 0;
}



div.highlightSection {
	margin-bottom: 10px;
}
	/* Holly Hack Targets IE Win only \*/
	* html .highlightSection {height: 1%;}
	/* End Holly Hack */
	
div.highlightSection div {
	margin-left: 68px;
	min-height: 50px;
	clear: right;
	padding-left: 10px;
}
div.highlightSection h2, 
div.highlightSection h3 {
	margin-bottom: 10px;
	clear: right;
}
div.highlightSection div.highlightIcon {
	float: left;
	width: 50px;
	clear: none;
	margin: 0 0 0 20px;
	padding: 0;
	border-left: 0;
}
div.rightNavFloat {
	float: right;
	position: relative;
	top: -15px;
	left: 15px;
	width: 150px;
	margin: 10px;
	padding: 10px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	background-color: #ffffff;
	border: 2px solid #cecece;
	clear: none;
}
div.rightNavFloat ul {
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
}
div.rightNavFloat ul li {
}
div.rightNavFloat a {
	text-decoration: none;
}
div.rightNavFloat a:hover {
	text-decoration: underline;
}

div.rightNavFloatRed {
	float: right;
	position: relative;
	top: -15px;
	left: 15px;
	width: 150px;
	margin: 10px;
	padding: 10px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	background-color: #ffffff;
	border: 2px solid #cc0000;
	clear: none;
}

div.StripeBox {
	float: right;
	position: relative;
	top: 0px;
	left: 15px;
	width: 280px;
	margin: 10px;
	padding: 0px;
	background-color: #ffffff;
	border: 2px solid #cecece;
	clear: none;
}

div.StripeBox p {
	margin: 5px;
}

#partnerTabWrap {
    padding: 15px 0 0 15px;
    z-index: 10;
    position: relative;
    font-size: 95%;
    }
	/* Holly Hack Targets IE Win only \*/
	* html #partnerTabWrap {top: 1px;}
	/* End Holly Hack */
	
#partnerTabWrap div { height: 1%;} /* Needed for IE6 */

/*store pages*/
div#partnerTabWrap li.selected { 
    background-image: url("/g/chrome/graytab_right_on.gif");
    background-repeat: no-repeat;
    background-position: top right;
    border-bottom: 0;
    }

/*store pages*/
div#partnerTabWrap li.selected a {
    background-image: url("/g/chrome/graytab_left_on.gif");
    background-repeat: no-repeat;
    background-position: top left;
    color: #333;
    border-bottom: 0;
    }

/* END new "rhel5" styles */

/* some lovely 3-col layout styles for 404 and worldwide websites */
#threeColWrap {
	background: url(/g/chrome/3col_bk_r.gif) repeat-y 67% 0;
}

#threeColWrap-inner {
	background: url(/g/chrome/3col_bk_l.gif) repeat-y 33% 0;
}

.threeColWrap-col, .threeColWrap-colMiddle {
	float: left; 
	width: 33%;
}

.threeColWrap-colMiddle {
	width: 34%;
}

.threeColWrap-col div, .threeColWrap-colMiddle div {
	padding: 0 15px;
}

#threeColWrap .head {
	min-height: 3em; 
	border-bottom: 1px solid #333; 
	position: relative;
}

#threeColWrap h2 {
	position: absolute; 
	bottom: 0;
}

#threeColWrap-inner:after {
    content: "."; 
    display: block; 
    height: 0px;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #threeColWrap-inner  {height: 1%;}
    /* End Holly Hack */

ul.jbdsGallery {
padding: 0;
margin: 0;
}

.jbdsGallery li {
list-style-type: none;
}

.jbdsGallery li a img {
border: 1px solid #fff;
}

.jbdsGallery li a:hover img {
border: 1px solid #ccc;
}

/**************************** can't believe we didn't have these before ***/
/**************************** me either ***/

.floatRight {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	}

.floatLeft {
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
	}
	
	
/************************************************************* Share Button */
.outer-share {position: relative; width: 60px; float: right; margin: 15px 15px 0 0;/* margin: 15px 0 0 646px;*/ z-index: 98;}

.outer-share .button {background: #fff url(/g/chrome/button_share.png) center center no-repeat; width: 72px; height: 16px; border: 1px solid #ccc; -moz-border-radius: 3px; cursor: pointer; margin: 0;}

.outer-share .button:hover {border: 1px solid #999;}

/* wrap pages */
.content_area_v2 .outer-share {margin: 0 15px 0 0;}
.outer-share+.rightNavFloat {top: 0; margin: 30px 10px 15px 10px; left: 85px;}

.outer-share p {background: #333; color: #fff; width: 60px; height: 30px; margin: 0; padding: 0;}
.outer-share img.close {border: 1px solid #ccc; height: 15px; width: 15px; margin: 5px; text-align: center; vertical-align: center; float: right;}

.inner-share {
        width: 250px;
        position: absolute;
        left: -178px;
        top: 18px;
        border: 1px solid #ccc;
        background: #fff;
        display: none;
}

.inner-share h2 { font-size: smaller; margin: 15px 5px 5px 15px; }
.inner-share p {background: none; color: #333; margin: 0 auto; padding: 5px 0 0 0; clear: both; font-size: smaller;}

ul.shareCol {
        width: 100px;
        float: left;
        font-size: smaller;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 15px;
}

ul.shareCol li {
        height: 16px;
        line-height: 16px;
/*      margin-left: 21px;*/
        padding-left: 21px;
        background: top left no-repeat;
}

ul.shareCol li a {
        text-decoration: none;
}

ul.shareCol li.twitter {background-image: url(/g/social/twitter_16.png);}
ul.shareCol li.facebook {background-image: url(/g/social/facebook_16.png);}
ul.shareCol li.linkedin {background-image: url(/g/social/linkedin_16.png);}
ul.shareCol li.digg {background-image: url(/g/social/digg_16.png);}
ul.shareCol li.reddit {background-image: url(/g/social/reddit_16.png);}
ul.shareCol li.slashdot {background-image: url(/g/social/slashdot_16.png);}
ul.shareCol li.delicious {background-image: url(/g/social/delicious_16.png);}
ul.shareCol li.stumbleupon {background-image: url(/g/social/stumbleupon_16.png);}
ul.shareCol li.bebo {background-image: url(/g/social/bebo_16.png);}
ul.shareCol li.bitly {background-image: url(/g/social/bitly_16.png);}
ul.shareCol li.blogger {background-image: url(/g/social/blogger_16.png);}
ul.shareCol li.faves {background-image: url(/g/social/faves_16.png);}
ul.shareCol li.favorites {background-image: url(/g/social/favorites_16.png);}
ul.shareCol li.gmail {background-image: url(/g/social/gmail_16.png);}
ul.shareCol li.google {background-image: url(/g/social/google_16.png);}
ul.shareCol li.hotmail {background-image: url(/g/social/hotmail_16.png);}
ul.shareCol li.identica {background-image: url(/g/social/identica_16.png);}
ul.shareCol li.kudos {background-image: url(/g/social/kudos_16.png);}
ul.shareCol li.livejournal {background-image: url(/g/social/livejournal_16.png);}
ul.shareCol li.printpage {background-image: url(/g/social/printpage_16.png);}
ul.shareCol li.technorati {background-image: url(/g/social/technorati_16.png);}
ul.shareCol li.ymail {background-image: url(/g/social/ymail_16.png);}

.share-more {display: none;}

.noticeArea 
{
background-color: #e5f0f5;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #c0dae7;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #c0dae7;
font-size: small;
padding-top: 5px;
padding-right: 15px;
padding-bottom: 5px;
padding-left: 15px;
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 2em;
margin-left: 0pt;
}



#resourceLinks {
	border:1px solid #CCC;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	float:right;
	font-size: 80%;
	margin:0 0 15px 10px;
	padding:10px 0 10px 10px;
	width:225px;}
	
#resourceLinks ul {
	margin: 5px;}
	
.jumpBack+h1 {
	margin-top: .25em;}
	
#hideaway > p {
	margin-top: 0;}
	


/**
 Notifications
 **********************************************/

.alertError, .alertNotice, .alertSuccess {
	background: #f4dcdc url(/g/error.20x20.png) no-repeat 10px 8px;
	border: 1px solid #c51616;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 100%;
	font-weight: normal;
	margin: 0 0 15px 0;
	padding: 9px 5px 8px 40px;
	text-align: left;
}

.alertError {
	color: #c51616;
	font-weight: bold;
}

.alertNotice {
	background-color: #fffaba;
	background-image: url("/g/info.20x20.png");
	border-color: #efd085;
}

.alertSuccess {
	background-image: url("/g/success.20x20.png");
	background-color: #eaffbd;
	border-color: #99CC99;
	color: #006600;
}

.alertError h2, .alertError h3, .alertNotice h2, .alertNotice h3, .alertSuccess h2,.alertSuccess h3 {
	padding-top: 3px;
}

.alertError p, .alertNotice p, .alertSuccess p {
	margin: 0 0 4px;
}

.UIIFramePortlet {
    background: transparent;
    border: none;
    height: 500px;
    margin: 0;}

