body {
	background-color: #ECECEC;
}

#mask {
	background-color: #ECECEC;
}

#pageTable {
	width: 100% !important;
	height: auto !important;
}

.elqLayout {
	width: 100%;
}

.elqLayout td.LayoutTableRowStart {
	width: 100px !important;
}

.elqLabel {
	display: none !important;
}

td.LayoutTableRowStart .elqLabel {
	min-width: 100px !important;
	width: 125px !important;
	display: block !important;
}

.elqLayout td {
	width: 100% !important;
}

.elqField {
	width: 100% !important;
}

/* disable link-style button
#submit {
	cursor: pointer;
	border: 0;
	color: #B00000;
	font-weight: bold;
	background-color: #ECECEC;
	text-decoration: underline;
	float: right;
	display: block;
	padding: 2px;
}

#submit:hover {
	background-color: #B00000;
	color: white;
}
*/
