/* *****************************************************************************

Red Hat Summit 2006 stylesheet
created by rob
recreated on Apr 13, 2006

Notes: this stylesheet represents rampant abuse of absolute positioning.
       nothing to be done however considering the graphic text layers were
       screened.
       proceed with caution.

***************************************************************************** */

body {
	font-size: small;
	}

#base {
	position: relative; /* so everything else can be absolute */
	margin-top: 15px;
	height: 600px;
	}
.main { background: url(/g/summit/2006/main_layers.jpg); }
.overview { background: url(/g/summit/2006/overview_layers.jpg); }
.whygo { background: url(/g/summit/2006/whygo_layers.jpg); }
.speakers { background: url(/g/summit/2006/speakers_layers.jpg); }
.tracks { background: url(/g/summit/2006/tracks_layers.jpg); }
.sponsors { background: url(/g/summit/2006/sponsors_layers.jpg); }
.travel { background: url(/g/summit/2006/travel_layers.jpg); }
.agenda { background: url(/g/summit/2006/agenda_layers.jpg); }


p#blogs a, p#register, p#dates a, p#videos a {
	display: block;
	text-indent: -5000px;
	}

p#register a {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 483px;
	left: 0px;
	width: 247px;
	height: 78px;
	background: url(/g/summit/2006/nav_register.jpg);
	}
	
p#register a:hover {
	background: url(/g/summit/2006/nav_register_on.jpg);
	}

p#dates  {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 55px;
	left: 290px;
	width: 270px;
	height: 114px;
	background: url(/g/highlights.gif);
	}

div#poster {
	position: absolute;
        margin: 0;
        padding: 0;
        top: 55px;
        left: 572px;
        width: 132px;
        height: 132px;
        background: url(/g/rh_132x132-getposter.png);
}
	
div#videos {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 475px;
	left: 20px;
	width: 237px;
	/* background: url(/g/summit/2006/speaker_videos.jpg) no-repeat; */
	}
	
div#videos p {
	margin-top: 0px;
	color: #fff;
	text-align: left;
	}
	
div#videos a {
	color: #fff;
	text-decoration: underline;
	}

div#blogs {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 170px;
        left: 294px;
        width: 260px;
        /* background: url(/g/summit/2006/speaker_videos.jpg) no-repeat; */
        }

div#blogs p {
        margin-top: 3px;
        color: #fff;
        text-align: center;
        }

div#blogs a {
text-decoration: none;
}

#summit_nav_main {
	position: absolute;
	top: 56px;
	left: 0;
	width: 247px;
	height: 355px;
	margin: 0;
	padding: 0;
	}
	
#summit_nav_main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	
#summit_nav_main ul li {
	margin: 0;
	padding: 0;
	}
	
#summit_nav_main a {
	display: block;
	text-indent: -5000px;
	width: 247px;
	}
#summit_nav_main li#here_overview a { background: url(/g/summit/2006/nav_overview.jpg); height: 48px; }
#summit_nav_main li#here_whygo a { background: url(/g/summit/2006/nav_whygo.jpg); height: 55px; }
#summit_nav_main li#here_speakers a { background: url(/g/summit/2006/nav_speakers.jpg); height: 52px; }
#summit_nav_main li#here_tracks a { background: url(/g/summit/2006/nav_tracks.jpg); height: 57px; }
#summit_nav_main li#here_sponsors a { background: url(/g/summit/2006/nav_sponsors.jpg); height: 46px; }
#summit_nav_main li#here_travel a { background: url(/g/summit/2006/nav_travel.jpg); height: 42px; }
#summit_nav_main li#here_agenda a { background: url(/g/summit/2006/nav_agenda.jpg); height: 55px; }

#summit_nav_main li#here_overview a:hover { background: url(/g/summit/2006/nav_overview_on.jpg); height: 48px; }
#summit_nav_main li#here_whygo a:hover { background: url(/g/summit/2006/nav_whygo_on.jpg); height: 55px; }
#summit_nav_main li#here_speakers a:hover { background: url(/g/summit/2006/nav_speakers_on.jpg); height: 52px; }
#summit_nav_main li#here_tracks a:hover { background: url(/g/summit/2006/nav_tracks_on.jpg); height: 57px; }
#summit_nav_main li#here_sponsors a:hover { background: url(/g/summit/2006/nav_sponsors_on.jpg); height: 46px; }
#summit_nav_main li#here_travel a:hover { background: url(/g/summit/2006/nav_travel_on.jpg); height: 42px; }
#summit_nav_main li#here_agenda a:hover { background: url(/g/summit/2006/nav_agenda_on.jpg); height: 55px; }

#summit_nav_main li#here_main, #summit_nav_main li#here_register { display: none; visibility: hidden; }

#summit_nav {
	width: 650px;
	margin: 0 auto;
	text-align: center;
	}
#summit_nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
#summit_nav li {
	float: left;
	margin: 0 1em;
	}
#summit_nav ul a {
	padding: 5px 0;
	display: block;
	line-height: 1.5em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 85%;
	}
	
	/* Holly Hack Targets IE Win only \*/
    * html #summit_nav ul a {font-size: 75%;} /* only because we're using a diff font for IE */
    /* End Holly Hack */
	
#summit_nav ul a:hover {
	color: #ccc;
	}
.main li#here_main a, 
.overview li#here_overview a, 
.whygo li#here_whygo a, 
.speakers li#here_speakers a, 
.tracks li#here_tracks a, 
.sponsors li#here_sponsors a, 
.travel li#here_travel a, 
.agenda li#here_agenda a {
	border-top: 5px solid #fff;
	padding-top: 0px;
	}
#content_area {
	color: #000;
	position: absolute;
	top: 132px;
	left: 35px;
	width: 500px;
	height: 408px;
	padding: 15px;
	overflow: auto;
	}
.overview #content_area { background: url(/g/summit/2006/overview_transp.jpg) no-repeat; }
.whygo	#content_area { background: url(/g/summit/2006/whygo_transp.jpg) no-repeat; }
.speakers	#content_area { background: url(/g/summit/2006/speakers_transp.jpg) no-repeat; }
.tracks	#content_area { background: url(/g/summit/2006/tracks_transp.jpg) no-repeat; }
.travel	#content_area { background: url(/g/summit/2006/travel_transp.jpg) no-repeat; }
.agenda	#content_area { background: url(/g/summit/2006/agenda_transp.jpg) no-repeat; }

	/* Holly Hack Targets IE Win only \*/
    * html .overview #content_area,
    * html .whygo #content_area,
    * html .speakers #content_area, 
    * html .tracks #content_area, 
    * html .travel #content_area, 
    * html .agenda #content_area {background-attachment: fixed;} 
    /* End Holly Hack */

#content_pad {
	padding-bottom: 10px;
	}
a {
	text-decoration: none;
	}
h2 {
	font-size: 150%;
	}
h1 {
	position: absolute;
	top: 43px;
	left: 0;
	width: 450px;
	height: 68px;
	background: url(/g/summit/2006/overview_head.jpg);
	text-indent: -5000px;
	}
.overview h1 { background: url(/g/summit/2006/overview_head.jpg); }
.whygo h1 { background: url(/g/summit/2006/whygo_head.jpg); }
.speakers h1 { background: url(/g/summit/2006/speakers_head.jpg); }
.tracks h1 { background: url(/g/summit/2006/tracks_head.jpg); }
.sponsors h1 { background: url(/g/summit/2006/sponsors_head.jpg); }
.travel h1 { background: url(/g/summit/2006/travel_head.jpg); }
.agenda h1 { background: url(/g/summit/2006/agenda_head.jpg); }

.registerSummit, .signupSummit {
	text-align: center;
	}

.registerSummit a {
	width: 10em;
	display: block;
	margin: 0 auto;
	background: #900;
	color: #fff;
	padding: 3px 5px 5px 5px;
	}
	
.registerSummit a:hover {
	background: none;
	color: #900;
	}
	
.signupSummit a {
	width: 8em;
	display: block;
	margin: 0 auto;
	background: #0066cc;
	color: #fff;
	padding: 3px 5px 5px 5px;
	}
	
.videoWrap {
	margin-top: 1em;
	}
	
 div.picLeft {
 	float: left;
 	margin: 5px 15px 10px 0;
 	}
	
    /* Holly Hack Targets IE Win only \*/
    * html div.picLeft {clear: both;}
    /* End Holly Hack */
    
table {
	margin-bottom: 2em;
	}
	
tr.shaded {
	background: #eee;
	}

.shadeddk {
	background: #ddd;
	}
	
ul#sponsorList {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 125px;
	left: 31px;
	list-style-type: none;
	width: 612px;
	}
	
ul#sponsorList li {
	float: left;
	margin: 0;
	padding: 0;
	}
	
ul#sponsorList a {
	display: block;
	width: 204px;
	height: 99px;
	text-indent: -5000px;
	}
	
ul#sponsorList a.ibm { background: url(/g/summit/2006/logo_ibm.jpg); }
ul#sponsorList a.intel { background: url(/g/summit/2006/logo_intel.jpg); }
ul#sponsorList a.amd { background: url(/g/summit/2006/logo_amd.jpg); }
ul#sponsorList a.dell { background: url(/g/summit/2006/logo_dell.jpg); }
/* make the next wider so the last will drop */
ul#sponsorList a.dlt { background: url(/g/summit/2006/logo_dlt.jpg); }
ul#sponsorList a.nec { background: url(/g/summit/2006/logo_nec.jpg); width: 157px; no-repeat; }
ul#sponsorList a.oracle { background: url(/g/summit/2006/logo_oracle.jpg); }
ul#sponsorList a.emu { background: url(/g/summit/2006/logo_emu.jpg); width: 264px; no-repeat; }
ul#sponsorList a.unisys {background: url(/g/summit/2006/logo_unisys.jpg); }
ul#sponsorList a.ingres {background: url(/g/summit/2006/logo_ingres.jpg); }
/* styles for dynamic display of agenda content */

a.flip {
	text-decoration: none;
	font-family: monospace;
        font-weight: normal;
	font-size: large;
        }

a.flip:hover	{
	text-decoration: underline;
	}

table.expand	{
	width: 100%;
	rules: rows;
	}

table.expand th	{
	text-transform: uppercase;
	border-bottom: thin solid #000;
	}


	
