a.learnbutton {
color:#000;
background:#F7F3DC;
border:1px solid #dfa1a2;
text-decoration:none;
width:90px;
height:23px;
line-height:21px;
text-align:center;
display:block;
position:absolute;
bottom:20px;
left:50%;
margin-left:-46px
}

div.tanbox{
width:350px;
text-align:center;
background:#F7F3DC;
border:1px solid #d4d3cc;
margin:10px
}

div.tanbox p{
margin:15px
}

.topright,.topleft,.botright,.botleft{width:10px;height:10px;overflow:hidden;position:absolute;background:url('/g/chrome/bluecorner.png') no-repeat}
.ttanbox .topright,.ttanbox .topleft,.ttanbox .botright,.ttanbox .botleft{background-image:url('/g/chrome/tancorner.png')}
.topleft{top:0;left:0}
.topright{background-position:top right;top:0;right:0}
.botright{background-position:-10px -10px;bottom:0;right:0}
.botleft{background-position:0px -10px;bottom:0;left:0}

.bluebox,.ttanbox {
width: 30%;
height:290px;
margin: 0 1% 0;
background: #cfe3ec;
position:relative;
float:left;
}
.ttanbox {
background:#F7F3DC
}
.bluebox h2,.ttanbox h2 {
text-align:center;
background:url("/g/chrome/training-blue-fade.png") repeat-x;
height: 30px;
line-height: 30px
}
.ttanbox h2{background:url('/g/chrome/training-tan-fade.png')}

.bluebox p,.bluebox ul,.ttanbox p,.ttanbox ul{
margin: 10px 15px
}

/* Code for rounded Corners
/* .container {background:#cfe3ec;color:#000;margin:0 15px;width:230px}
.rtop, .rbottom{display:block;background:#fff}
.rtop *, .rbottom *{display:block;height:1px;overflow:hidden;background:#cfe3ec}
.rt1,.rt2,.rt3,.rt4{margin: 0 5px; background:url('header.png') repeat-x}
.rt2{margin:0 3px}
.rt3{margin:0 2px}
.rt4{margin:0 1px}
.rb1{margin:0 5px}
.rb2{margin:0 3px}
.rb3{margin:0 2px}
.rb4{margin:0 1px;height: 2px}
 */



