/***********************

redhat.com - VALUE PROMO
 
created: 29JUN05 by lisa

modified last: 

***********************/
h1.valueHead {
	padding: 0;
	margin: 0 0 15px 0;
	text-align: right;
	background: url(/g/landing/value_main_head.png) no-repeat;
	height: 89px;
	width: 690px;
	}
	
h1.valueHead span {
	display: none;
	}
	
h2 {
	margin: 30px 0 15px 0;
	}
	
#valueColLeft {
	width: 420px;
	float: left;
	}
	
#valueColRight {
	float: right;
	width: 255px;
	margin: 0 0 0 15px;
	}
