#contentColWidget {
	float: left;
	width: 515px;
	}

#widgetColWide {
	margin-left: 550px;
	}

	/* Holly Hack Targets IE Win only \*/
    * html #widgetColWide {margin-left: 545px;}
    /* End Holly Hack */

.vidLinks a {
	color: rgb(204, 0, 0);
	text-decoration: none;
	font-weight: bold;
	}

#first {
/*	width: 520px;*/
	padding: 0;
/*	padding-left: 10px;*/
	margin: 0;
	}
    
.shortcutWrap:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .shortcutWrap {height: 1%;}
    /* End Holly Hack */
    
.shortcutWrap .leftcolumn {
	float: left;
	padding: 0 10px;
	width: 230px;
	margin: 0;
	}
	
.shortcutWrap .middlecolumn {	
	float: left;
	padding: 0 10px;
	width: 230px;
	border: none;
	}
	
.rightcolumn {
	float: left;
	padding: 0 10px;
	width: 210px;
	margin: 0;
	}

.rightcolumn h3 {
	margin: 0;
	margin-bottom: 1.5em;
	padding: 0;
	}

.middlecolumn {	
	float: left;
	padding: 0 10px;
	width: 211px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}

.middlecolumn h3 {
	margin: 0;
	margin-bottom: 1.5em;
	padding: 0;
	}

.leftcolumn {
	float: left;
	padding: 0 10px;
	width: 234px;
	margin: 0;
	}

.leftcolumn h3 {
	margin: 0;
	margin-bottom: 1.5em;
	padding: 0;
	}

#middlenav p, #middlenav li {
	font-size: 9.5pt;
	}
	
/* RHMagazine wide widget */

#magWideWidgetBottom {
        background: url('/g/magazine/RHMWideWidgetBottom.png') bottom left no-repeat;
        height: 38px;
        width: 170px;
        }

#magWideWidget {
        background: #d1d1d1 url('/g/magazine/RHMWideWidgetTop.png') top left no-repeat;
   		width: 170px;
        margin: 0px;
        padding: 0px 0px -1px 0px;
        }

    /* Holly Hack Targets IE Win only \*/
    * html #magWideWidget {width: 170px;}
    * html #magWideWidget {overflow-x: hidden;}
    * html #magWideWidget {overflow-y: auto;}
    * html #magWideWidget {height: 1%;}
    /* End Holly Hack */

#magWideWidgetContent {
        padding-top: 35px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
        }


    /* Holly Hack Targets IE Win only \*/
    * html #magWidgetContent {height: 1%;}
    /* End Holly Hack */

#magWideWidgetContent:after {
   display: block;
   height: 0;
   overflow: hidden;
    clear: both;
    visibility: hidden;
}


#magWideWidgetContent a {
        color: #333333;
        text-decoration: none;
        font-size: x-small;
        }

#magWideWidgetContent ul {
        list-style: none;
        padding-left: 0px;
        margin-left: 2px;
        }


#magWideWidgetContent ul li{
        padding-left: 0px;
        margin: .4em 0;
        line-height: .9em;
        }

	
/************************************************ Virtualization */

#overview h2 {
	margin-bottom: 1em;
	}

#openvirtheader {
	margin-top: 25px;
	height: 200px;
	margin-bottom: 25px;
	}
	
#openvirtheader h2 {
	margin-left: -50000px;
	}
	
ul.openvirtmenu {
	height: 32px;
	width: 716px;
	margin: 0 auto;
	padding: 0 0 25px 0;
	list-style-type: none;
	}

.openvirtmenu p {
	padding: 0;
	margin: 0;
	}

.openvirtmenu span {
	margin: 0 0 0 -50000px;
	}

.openvirtmenu li {
	float: left;
	height: 32px;
	padding: 0;
	margin: 0;
	}

li.home p {
	color: green;
	width: 115px;
	height: 32px;
	}
	
li.home {
	background: url(/g/openvirt/home.png);
	width: 115px;
	}
	
li.home_on {
	background: url(/g/openvirt/home_on.png);
	width: 115px;
	}

li.overview p {
	color: green;
	width: 138px;
	height: 32px;
	}

li.overview {
	background: url(/g/openvirt/overview.png);
	width: 138px;
	}
	
li.overview_on {
	background: url(/g/openvirt/overview_on.png);
	width: 138px;
	}
	
li.solutions p {
	color: green;
	width: 146px;
	height: 32px;
	}
	
li.solutions {
	background: url(/g/openvirt/solutions.png);
	width: 146px;
	}
	
li.solutions_on {
	background: url(/g/openvirt/solutions_on.png);
	width: 146px;
	}
	
li.multimedia p {
	color: green;
	width: 158px;
	height: 32px;
	}
	
li.multimedia {
	background: url(/g/openvirt/multimedia.png);
	width: 158px;
	}
	
li.multimedia_on {
	background: url(/g/openvirt/multimedia_on.png);
	width: 158px;
	}
	
li.getstarted p {
	color: green;
	width: 159px;
	height: 32px;
	}
	
li.getstarted {
	background: url(/g/openvirt/getstarted.png);
	width: 159px;
	}
	
li.getstarted_on {
	background: url(/g/openvirt/getstarted_on.png);
	width: 159px;
	}

/*************************************************** OLPC */

#olpcheader {
	margin-top: 25px;
	background: white url(/g/olpc/olpc_header.png) no-repeat;
	height: 200px;
	margin-bottom: 25px;
	}
	
#olpcheader h1 {
	margin-left: -50000px;
	}

.mainQuote {
	background: url(/g/olpc/quote.png) no-repeat;
	height: 90px;
	width: 453px;
	}

.mainQuote h1, .mainQuote p {
	margin-left: -50000px;
	}

.highlight {
	color: rgb(171,180,0);
	}

.div1 {
	float: right;
	padding: 0 15px;
	}
	
.div1b {
	float: left;
	padding: 15px;
	}

.div2 {
	background: url('/g/olpc/quote-top.gif') top left no-repeat;
	background-color: rgb(0,147,217);
	}

.div3 {
	background: url('/g/olpc/quote-bottom.gif') bottom left no-repeat;
	}

#middlenav .olpc_quote {
	font-size: medium;
/*	font-weight: bold;*/
	width: 300px;
	margin: 15px;
	padding: 15px 0;
/*	padding: 15px;*/
	color: white;
	text-align: right;
/*	line-height: 20pt;*/
	}
	
#middlenav .olpc_quote span {
	font-size: small;
	font-weight: normal;
	}
	
#middlenav .olpc_quote2 {
	font-size: small;
/*	font-weight: bold;*/
	width: 300px;
	margin: 15px;
	padding: 15px 0;
/*	padding: 15px;*/
	color: white;
	text-align: left;
/*	line-height: 20pt;*/
	}
	
#middlenav .olpc_quote2 span {
	font-size: x-small;
	font-weight: normal;
	}

ul.olpcmenu {
	height: 32px;
	width: 717px;
	margin: 0 auto;
	padding: 0 0 25px 0;
	list-style-type: none;
	}

.olpcmenu p {
	padding: 0;
	margin: 0;
	}
	
.olpcmenu span {
	margin: 0 0 0 -50000px;
	}

.olpcmenu li {
	float: left;
	height: 32px;
	padding: 0;
	margin: 0;
	}

li.olpc_home p {
	color: green;
	width: 80px;
	height: 32px;
	}
	
li.olpc_home {
	background: url(/g/olpc/olpc_nav_01.png);
	width: 80px;
	}
	
li.olpc_home_on {
	background: url(/g/olpc/olpc_nav_on_01.png);
	width: 80px;
	}

li.laptop p {
	color: green;
	width: 123px;
	height: 32px;
	}
	
li.laptop {
	background: url(/g/olpc/olpc_nav_02.png);
	width: 123px;
	}
	
li.laptop_on {
	background: url(/g/olpc/olpc_nav_on_02.png);
	width: 123px;
	}
	
li.plan p {
	color: green;
	width: 107px;
	height: 32px;
	}
	
li.plan {
	background: url(/g/olpc/olpc_nav_03.png);
	width: 107px;
	}
	
li.plan_on {
	background: url(/g/olpc/olpc_nav_on_03.png);
	width: 107px;
	}
	
li.delivery p {
	color: green;
	width: 112px;
	height: 32px;
	}
	
li.delivery {
	background: url(/g/olpc/olpc_nav_04.png);
	width: 112px;
	}
	
li.delivery_on {
	background: url(/g/olpc/olpc_nav_on_04.png);
	width: 112px;
	}
	
li.team p {
	color: green;
	width: 114px;
	height: 32px;
	}
	
li.team {
	background: url(/g/olpc/olpc_nav_05.png);
	width: 114px;
	}
	
li.team_on {
	background: url(/g/olpc/olpc_nav_on_05.png);
	width: 114px;
	}
		
li.news p {
	color: green;
	width: 91px;
	height: 32px;
	}
	
li.news {
	background: url(/g/olpc/olpc_nav_06.png);
	width: 91px;
	}
	
li.news_on {
	background: url(/g/olpc/olpc_nav_on_06.png);
	width: 91px;
	}
	
li.act p {
	color: green;
	width: 90px;
	height: 32px;
	}
	
li.act {
	background: url(/g/olpc/olpc_nav_07.png);
	width: 90px;
	}
	
li.act_on {
	background: url(/g/olpc/olpc_nav_on_07.png);
	width: 90px;
	}
	


.hoverbox
{
	width: 500px;
	cursor: default;
	list-style: none;
}

.hoverbox:after {
    content: "."; 
    display: block; 
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .hoverbox {height: 1%;}
    /* End Holly Hack */

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: rgb(207,212,100) /*#aaa #ccc #ddd #bbb*/;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 100px;
	height: 75px;
}

.hoverbox li
{
	background: rgb(207,212,100);
/*	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;*/
	color: inherit;
/*	display: inline;*/
	float: left;
	margin: 3px;
/*	padding: 5px;*/
	position: relative;
}

.hoverbox .preview
{
	border-color: rgb(207,212,100);
	width: 200px;
	height: 150px;
}

/****The other gallery css**/
.pg {
width: 400px;
list-style: none none;
}

.pg:after {
clear: both;
display: block;
content: ".";
height: 0;
visibility: hidden;
}

.pg li {
list-style: none none;
display: inline;
}

.pg li a {
margin: 2px;
border: 1px solid rgb(207,212,100);
padding: 4px;
position: relative;
float: left;
display: block;
width: 100px;
height: 75px;
}

.pg li a:hover {
font-size: 100%;
z-index: 2;
}

.pg li a img {
border: 0 none;
position: absolute;
width: 100px;
height: 75px;
}

.pg li a:hover img,.pg li a:active img,.pg li a:focus img {
border: 1px solid rgb(207,212,100);
width: 200px;
height: 150px;
left: -50px;
top: -37px;
z-index: 1;
}

/***************************** Value Shows */
#valueHeader {
	margin: 5px 0;
	padding-left: 20px;
	height: 120px;
	background: url('/g/value_header_blue.png') top left no-repeat;
	}
	
#valueHeader h1 {
	display: block; 
    height: 0;
    overflow: hidden;
	}

#valueHeader .imgLeftValueWrap {
	float: left;
	width: 325px;
	margin: 5px 40px 25px 0;
	}
	
    /* Holly Hack Targets IE Win only \*/
    * html #valueHeader .imgLeftValueWrap  { margin-top: 20px; }
    /* End Holly Hack */
	
div.rightText {
  	float: left;
  	height: 80px;
  	width: 305px;
 	margin: 30px 0;
 	}
	
.valueShowsHead {
	height: 30px;
	background: url('/g/heading_valueshows.png') top left no-repeat;
	}
.valueShowsHead h1{
	margin-left: -50000px;
        display: block;
	height: 0;
	overflow: hidden;
	}

.valueSectionHead {
	height: 27px;
	margin-top: 10px;
	background: url('/g/heading_value.png') top left no-repeat;
	}
.valueSectionHead h2{
	margin-left: -50000px;
        display: block;
	height: 0;
	overflow: hidden;
	}

.supportSectionHead {
	height: 27px;
	margin-top: 10px;
	background: url('/g/heading_support.png') top left no-repeat;
	}
.supportSectionHead h2 {
	margin-left: -50000px;
        display: block;
	height: 0;
	overflow: hidden;
	}
	
.moneySectionHead {
	height: 27px;
	margin-top: 10px;
	background: url('/g/heading_money.png') top left no-repeat;
	}
.moneySectionHead h2 {
	margin-left: -50000px;
        display: block;
	height: 0;
	overflow: hidden;
	}


.showsWrap:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .showsWrap {height: 1%;}
    /* End Holly Hack */
    
.showsWrap .rightcolumn {
	float: left;
	padding: 0 10px;
	width: 180px;
	margin: 0;
	}
	
.showsWrap .rightcolumn p {	
	padding: 0;
	margin: 0;
	}

.showsWrap .rightcolumn ul {
	margin-top: 0;
	padding-top: 0;
	}

.showsWrap .rightcolumn ul li.top {
	margin-top: 0;
	}

.showsWrap .middlecolumn {	
	float: left;
	padding: 0 10px;
	width: 181px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}
	
.showsWrap .middlecolumn p {	
	padding: 0;
	margin: 0;
	}
	
.showsWrap .middlecolumn ul {
	margin-top: 0;
	padding-top: 0;
	}

.showsWrap .middlecolumn ul li.top {
	margin-top: 0;
	}
	
.showsWrap .leftcolumn {
	float: left;
	padding: 0 10px;
	width: 294px;
	margin: 0;
	}

.showsWrap .leftcolumn ul {
	padding-left: 20px;
	margin-top: 0;
	}
	
    /* Holly Hack Targets IE Win only \*/
    * html .showsWrap .leftcolumn ul { margin-left: 15px; }
    /* End Holly Hack */

.showsWrap .leftcolumn ul li.top {
	margin-top: 0;
	}

#middlenav p, #middlenav li {
	font-size: 9.5pt;
	}
	
 /**** following styles define the an IMAGE ON THE LEFT W/TEXT ON THE RIGHT */
 	
 div.imgLeftValue {
 	margin-bottom: 5px;
 	}
	
div.imgLeftValue a {
	font-size: xx-small;
	}

div.imgLeftValue img {
 	float: left;
 	margin: 0 30px 5px 0;
 	}
 
div.imgLeftValue img.margin15	{
	margin-right: 10px;
	}
	
/*********************************** Collaboration Works **/
.collabWorksHead {
	height: 30px;
	background: url('/g/heading_collabworks.png') top left no-repeat;
	}
.collabWorksHead h1{
	margin-left: -50000px;
        display: block;
	height: 0;
	overflow: hidden;
	}

.betterSectionHead {
	height: 12px;
	margin-top: 15px;
	background: url('/g/heading_better.png') top left no-repeat;
	}
.betterSectionHead h2{
	margin-left: -50000px;
        display: block;
	height: 0;
	overflow: hidden;
	}

.meanSectionHead {
	height: 12px;
	margin-top: 10px;
	background: url('/g/heading_mean.png') top left no-repeat;
	}
.meanSectionHead h2 {
	margin-left: -50000px;
        display: block;
	height: 0;
	overflow: hidden;
	}
	
.communitySectionHead {
	height: 12px;
	margin-top: 10px;
	background: url('/g/heading_community.png') top left no-repeat;
	}
.communitySectionHead h2 {
	margin-left: -50000px;
        display: block;
	height: 0;
	overflow: hidden;
	}
