.store-CartShadeUpLabel,
.store-CartShadeDownLabel {
    float: right;
    padding-top: 1px;
}

p {
	margin: 1.25em 0;
}

#main {
    width: 100%;
    overflow: hidden;}

.underlay-std {
    background:#333  none repeat scroll 0%;
    -moz-background-clip: -moz-initial;
    -moz-background-origin: -moz-initial;
    -moz-background-inline-policy: -moz-initial;
    opacity: 0.2;
    filter: alpha(opacity =     20);
}

.underlay-ie {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/g/chrome/transparency-background.png', sizingMethod='scale');
}


#underlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
}

.gwt-DialogBox {
    sborder: 8px solid #C3D9FF;
    border: 2px outset;
    background-color: #fff;
    z-index: 100;
    zIndex: 100;
}

.gwt-DialogBox .Caption {
    background-color: #cc0000;
    height: 10px;
    cursor: pointer;
    color: #ffffff;
    padding-bottom: 7px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.store-LinkLabel {
    font-weight: bold;
    text-decoration: underline;
}

.store-LinkLabelNoDecoration,.store-LinkLabel {
    cursor: pointer;
    color: #cc0000;
}

.store-FancyErrorMessage {
  background: url("/g/chrome/button_orange.gif") no-repeat;
  padding-left: 20px;
  margin-left: 10px;
  color: #CC0000;
  padding-bottom: 5px;
}

.store-FancyErrorMessage a {
  margin-left: 5px;
}

.promoInput {
  vertical-align: middle;
}

#updateCart {
  margin-left: 5px;
}

.storePromoCode {
  padding-left: 4px;
}

.common-SpanLabel {
    margin-right: 5px;
}

.store-CurrencyLabelCurrency {
    text-align: right;
    padding-right: 9px;
}

.store-CurrencyLabelSymbol,.store-CurrencyLabelCurrency {
    display: inline;
}

.store-lineItemAmount {
    display: block;
}

.store-CurrencyLabelName {
    padding-left: 2px;
    display: inline;
}

/* Page: Expanded Cart */
.clearfix:after,.store-Row:after,.store-CaptionRow:after,.store-ExpandedCartFooter:after
    {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

input.error-input {
    border-color: #cc0000;
}

#store_empty_cart {
   margin-bottom: 20px;
}

.store-Throbber {
    display: inline;
    margin-left: 8px;
    padding-top: 7px;
    padding-left: 15px;
    background: url("/g/chrome/throbber_dickie.gif") center no-repeat;
}

.store-LoadingCartMessage {
    background-position: left bottom;
    padding-left: 20px;
}

.store-CellHeader,.store-Cell {
    float: left;
    font-size: 11px;
}

.store-Cell {
    padding-bottom: 5px;
}

.store-CellHeader {
    text-align: left;
    font-weight: bold;
}

.store-Caption {
    padding-bottom: 10px;
}

.store-LineItemHeader {
    background-color: #dddddd;
    padding-top: 2px;
    padding-bottom: 2px;
}

.store-LineItemsWidget {
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

td.store-CellHeader {
  padding-top: 0;
  padding-bottom: 0;
}

.store-LineItemHeaderItem {
    width: 479px;
    padding-left:0;
    padding-right:0;
}

.store-LineItemHeaderPrice, .store-LineItemHeaderTotal {
    width: 64px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.store-LineItemHeaderQuantity {
    width: 100px;
    text-align:left;
    padding-left:0;
    padding-right:0;
}

.store-LineItemBorderTop {
    border-top: 1px solid #aaa;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
}

.store-LineItemWidgetModified {
    background-color: #f1f1f1;
}

.store-LineItemControls {
    width: 100%;
}

.store-LineItemQuantityLabel {
    vertical-align: middle;
    margin-right: 4px;
}


td.store-LineItemQuantity {
    vertical-align: top;
    margin-right: 0;
}

td.store-LineItemQuantity table.common-Spinner td, .store-LineItemControls td {
    padding: 0;
}

.store-LineItemIncDecWrapper {
    margin-left:3px;
}

.store-LineItemIncDecWrapper tr td {
    padding: 0 0 0 0;
}

.store-LineItemIncrement {
    cursor: pointer;
    cursor: hand;
    /*margin-left: 7px;*/
    padding-left: 1px;
    height: 11px;
    width: 17px;
    background: url("/g/chrome/button_store_plus.gif") right bottom no-repeat;
}

table.store td > div.store-LineItemIncrement {
    margin-left: 0;
    padding-left: 0;
}

.store-LineItemDecrement {
    cursor: pointer;
    cursor: hand;
    /*margin-left: 7px;*/
    padding-left: 1px;
    height: 10px;
    width: 17px;
    background: url("/g/chrome/button_store_minus.gif") right top no-repeat;
}

table.store td > div.store-LineItemDecrement {
    margin-left: 0;
    padding-left: 0;
}

.store-LineItemRemove {
    cursor: pointer;
    cursor: hand;
    width: 15px;
    text-align: left;
}

.store-LineItemCell {
    padding-right: 5px;
    font-size: 0.8em;
}

.store-LineItemContractId {
    color: #CC0000;
}

.store-LineItemQuantityErrors {
    background: #fff;
    color: #cc0000;
    padding: 4px 2px;
    border: 1px solid #cc0000;
}

td.storeQuantity input {
    max-width: 2em;
}

.store-LineItemDisplayName {
    padding: 0 0 8px 0;
}

span.store-LineItemDisplayMeta {
    font-weight: normal;
}

.store-LineItemLucre,.store-LineItemTotal {
    width: 10%;
    text-align: right;
}

.store-LineItemList {
    width: 9%;
    text-align: right;
    padding-right: 4px;
}

.store-LineItemStrike {
    text-decoration: line-through;
}

.stricken {
    text-decoration: line-through;
}

.store-DiscountRuleDescription {
    width: 59%;
    color: #CC0000;
}

td.store-DiscountRuleDescription {
    padding-left:25px;
}

.store-DiscountRuleValid {
    color: black;
}

.store-DiscountRulePromotionCode {
    font-weight: bold;
}

.store-DiscountRulePrice,.store-DiscountRuleTotal {
    width: 10%;
    text-align: right;
    color: #CC0000;
}

.store-OrderDiscounts {
    font-size: x-small;
    padding-top:8px;
    padding-bottom:8px;
}

.rp {
    background-color: #aaaaaa;
}

.store-Contract {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.store-Promotion {
    float: left;
    padding-bottom:5px;
}

.store-ContinueShoppingButton {
    float: left;
    padding-bottom: 10px;
}

.store-CheckoutButtonPanel {
   margin-top: 20px;
   width: 100%;
   padding-bottom: 35px;
   clear: both;
}

.store-CheckoutButton {
    float: right;
    padding-bottom: 10px;
}

.store-Subtotal {
    float: right;
}

.store-SubtotalPrice,.store-SubtotalLabel,.store-PromotionCodeLabel,.store-PromotionCode,.store-UpdateButton
    {
    display: inline;
}

.store-SubtotalLabel,.store-PromotionCodeLabel,.store-PromotionCode {
    padding-right: 10px;
}

.store-MediaKits {
    padding: 17px 0px 17px 35px;
}

.store-MediaKitsHeader {
    font-weight: bold;
}

.store-MediaKitAdd {
    padding-right:15px;
}


.store-MediaKitDescriptionMeta {
    font-size: 10px;
}


/* Modal dialog style */
.overlay_panel {
    width: 100%;
    padding-top: 8px;
    margin-bottom: 15px;
    position: relative;
}

.overlay_footer_panel {
    width: 100%;
    padding-bottom: 7px;
}

.overlay_footer_panel_ie {
    width: 100%;
    padding-bottom: 7px;
}

.overlay_body_panel {
    padding: 15px 14px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #FFF;
}

.overlay-Caption {
    height: 20px;
    width: 80%;
    display: inline;
}

.login-DeckPanel {
    width: 75%;
}

/* Page: Confirm Checkout */
.separator1,.separator2,.separator4,.separator5 {
    padding-top: 10px;
    width: 100%;
    clear: both;
}

.site_conf_error {
    color: #CC0000;
}

.site_conf_error_header {
    color: #CC0000;
    font-size: 18px;
}

.site_conf_header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.site_conf_instructions {
    font-size: 12px;
    margin-bottom: 15px;
}

.site_conf_billing_region {
    float: left;
    width: 50%;
    clear: left;
    margin-bottom: 30;
}

.site_billing_payment_info_header {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 12px;
}

.site_conf_cc_master_region {
    float: left;
    width: 50%;
    clear: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

.site_conf_payment_header {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 12px;
}

.site_conf_cc_type {
    clear: left;
    float: left;
    margin-right: 5px;
}

.site_conf_expires {
    float: left;
    margin-right: 5px;
}

.site_conf_shipping_region {
    float: right;
    width: 50%;
    clear: right;
}

.site_shipping_payment_info_header {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 12px;
}

.site_conf_shipping_method_master_region {
    margin-top: 20px;
    float: right;
    width: 50%;
    clear: right;
    margin-bottom: 30;
}

.site_conf_shipping_method_header {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 12px;
}

.site_conf_shipping_method {
    float: left;
    clear: left;
    margin-right: 5px;
}

.site_conf_email_master_region {
    margin-top: 20px;
    clear: both;
}

#site_conf_email_note_header_region {
   padding-bottom: 5px;
}

.site_conf_email_entry_item {
    clear: both;
    padding: 2px;
}

.site_conf_email_address_label {
    width: 50px;
    float: left;
}

#site_conf_email_note2 {
   font-size: smaller;
}

#site_conf_email_note_label {
   vertical-align: top;
}

.site_conf_email_entry_item,
#site_conf_add_email,
#site_conf_note_header_region {
   margin-top: 5px;
}

#site_conf_email_note_label_region,
#site_conf_email_note_text_region,
#site_conf_email_note_remove_region {
   display: inline;
   float: left;
}

#site_conf_email_note_text_region {
   margin-right: 10px;
}

.removeEmailAddress
{
   margin-left: 10px;
}

.site_conf_email_entry_item_addr_region input {
    background-color: #fff;
}

.site_conf_email_entry_item_addr_region .error {
    display: block;
}

.site_conf_email_entry_item_addr, .site_conf_new_dates, .site_conf_email_header_region {
    clear: both;
}

.site_conf_email_entry_item_title_region {
    width: 50%;
    float: right;
    text-align: left;
    padding-top: 5px;
}

.site_conf_email_entry_item_title_region input {
    float: left;
}

.site_conf_email_entry_item_title_error {
    clear: both;
    color: #C00;
}

.site_conf_email_entry_item_title {
    clear: both;
}

.site_conf_email_message_region {
    padding-top: 20px;
    clear: both;
}

.site_conf_email_message {
    padding-bottom: 5px;
    clear: both;
}

.site_conf_email_body_region {
    padding-bottom: 5px;
    clear: both;
}

.site_conf_email_body_error {
    clear: right;
    float: right;
    text-align: left;
    color: #C00;
    width: 50%;
}

.site_conf_order_summary_region {
    width: 100%;
    clear: both;
}

.site_conf_order_summary_header {
    padding-top: 5px;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}

.site_conf_order_summary_table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #B5B5B5;
}

.site_conf_new_contract,.site_conf_non_contract {
    color: #C00;
    font-size: 12px;
}

.site_conf_co_billing_date_region {
    width: 130px;
    float: right;
    padding-right: 20px;
}

.site_conf_co_billing_date_label {
    float: left;
    clear: left;
}

.site_conf_co_billing_date {
    float: right;
    clear: right;
}

.site_conf_co_label {
    float: right;
}

.site_conf_co_price_cell,.site_conf_co_line_total_cell,.site_conf_co_subtotal_cell {
    text-align: right;
    float: right;
}

.site_conf_disclaimer_region {
    margin-top: 10px;
    font-size: 12px;
    clear: both;
}

.button-Confirm-Edit-Panel {
    width: 100%;
}

.button-Confirm-Edit-Order-Back {
    float: left;
    padding-bottom: 10px;
}

.button-Confirm-Edit-Order-Complete {
    float: right;
    padding-bottom: 10px;
}

.site_conf_disclaimer_region {
    color: #CC0000;
    padding-top: 40px;
    float: left;
    clear: left;
    width: 80%;
}

.verisign {
    display: block;
    float: right;
    clear: right;
    padding-top: 40px;
}

/* Page: Index 

.store-ProductPopupFrame {
    border: #f7f3dc 1px solid;
    width: 100%;
    height: 90%;
}

.store-ProductPopupPanel {
    width: 600px;
    height: 350px;
}*/

.store-CartSubtotalLabel,.store-CartTaxLabel,.store-CartTotalLabel {
    float: left;
    padding-left: 9px;
}

.store-CartSubtotal,.store-CartTax,.store-CartTotal {
    text-align: right
}

.store-CartShade {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.store-CartShadeButton {
    padding-left: 70px;
}

.store-CartMoney {
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

/* Line items */
.store-EmptyCartLabel {
    padding-left: 15px;
    display: inline;
}

/* Saved carts "popup" */
.store-SavedCartsGrid {
    font-size: 0.9em;
}

.store-SavedCartsLabel {
    font-size: 1.8em;
    font-weight: bold;
}

.store-SavedCartsHeader {
    font-size: 1.5em;
    font-weight: bold;
}

.store-SavedCartsTotal {
    display: inline;
}


/* Save cart "popup" 
.store-SaveYourCartLabel {
    font-size: 1.8em;
    font-weight: bold;
}

#savecart_name {
    background-color: #FFF;
}*/

table#savecart-cart {
    border: 1px solid #ddd;
    padding: 0;
    width: 100%;
}

table#savecart-cart td {padding: 7px; }

table#savecart-cart tr.savecart-header-row th {
    background-color: #ddd;
    border-bottom-width: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
}

table#savecart-cart .savecart-footer-row {
    font-size: small;
    font-weight: bold;
}

#savecart-LineItemHeaderTotal {
    white-space: nowrap;
}

.savecart-LineItemDisplayName {
    font-weight: bold;
}

.savecart-LineItemQuantity {
    text-align: center;
}

#savecart_note {
    margin-top: 7px;
}

#promos_applied_note {
    margin-top: 7px;
}

.store-SaveCartLabel {
    padding-top: 5px;
    padding-bottom: 5px;
}

.store-SaveCartOverwriteCheckbox {
    padding-left: 5px;
}

/* Store deck dialog common */
.store-StoreDeckDialogPanel {
    margin: 10px;
}

.store-DialogCloseLabel {
    margin-top: 10px;
}

.rp {
    background-color: #aaaaaa;
}

/* Modal dialog style */
.login-LoginDialog,.store-StoreDeckDialog {
    z-index: 100;
    zIndex: 100;
}

.login-LoginDialog .overlay_panel, .gwt-overlayDialog-xsmall .overlay_panel {
    width: 279px;
    background: url("/g/chrome/corner_width279_top.gif") top right no-repeat;
    text-align: left;
    font-size: smaller;
}

.gwt-overlayDialog-xsmall .overlay_panel .overlay_footer_panel {
    width: 279px;
    background: url("/g/chrome/corner_width279_bottom.gif") bottom left no-repeat;
}

.gwt-overlayDialog-xsmall .overlay_panel .overlay_footer_panel_ie {
    width: 279px;
    background: url("/g/chrome/corner_width279_bottom.gif") top left no-repeat;
}

.gwt-overlayDialog-small .overlay_panel {
    width: 420px;
    background: url("/g/chrome/corner_width420_top.gif") top right no-repeat;
    text-align: left;
    font-size: smaller;
}

.gwt-overlayDialog-small .overlay_panel .overlay_footer_panel {
    width: 420px;
    background: url("/g/chrome/corner_width420_bottom.gif") bottom left no-repeat;
}

.gwt-overlayDialog-small .overlay_panel .overlay_footer_panel_ie {
    width: 420px;
    background: url("/g/chrome/corner_width420_bottom.gif") top left no-repeat;
}


/* End HH */
.store-StoreDeckDialog .overlay-CloseLabel {
    margin-left: 290px;
    text-align: left;
    display: inline;
    cursor: pointer;
}

.overlay-Caption {
    height: 20px;
    width: 80%;
    display: inline;
}

.login-DeckPanel {
    width: 75%;
}

/* Page: Submit Order */
.separator1,.separator2,.separator4,.separator5 {
    padding-top: 10px;
    width: 100%;
}

.site_conf_os_mediakit_label {
    font-weight: bold;
    font-size: 13px;
}

.site_conf_strong_row, .site_conf_os_subtotal_row, .site_conf_os_total_row {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 12px;
}

.site_conf_os_total_row {
    background-color: #CCC;
    padding: 2px 5px;
    font-size: larger;
}

.site_conf_os_cell {
    float: left;
}

.site_conf_os_price_normal {
    text-align: right;
}

.site_conf_os_price_row {
    padding-bottom: 5px;
    text-align: right;
}

.site_conf_os_contract_region {
    margin-bottom: 20px;
}

.contentBoxHalf {
    background: url("/g/chrome/corner_homelinebox_top.png") top right
        no-repeat;
    padding-top: 7px;
    margin-bottom: 15px;
    width: 100%;
}

.contentBoxHalfInner {
    background: url("/g/chrome/corner_homelinebox_bottom.png") bottom left
        no-repeat;
    padding-bottom: 7px;
}

.contentBoxHalfBody {
    padding: 7px 14px;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
}

.contentHomeNews2Col {
    clear: left;
}

/* Page: Purchase Info */
.store-DialogCloseLabel {
    margin-top: 10px;
}

.rp {
    background-color: #aaaaaa;
}

.site-ButtonPanel {
    width: 100%;
}

.site-SectionHeader {
    font-size: 14px;
    font-weight: bold;
}

.site-SectionInstructions {
    font-size: 12px;
}

.site-OrderSummaryLabel {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-left: 3px;
}

.gwt-RadioButton input,.gwt-CheckBox input {
    border: 0px;
    background-color: transparent;
}

.site-EditSiteDialog {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

.site-EditSiteDialog .Caption {
    background-color: #ffffff;
}

.site-EditSiteDialog table tr td {
    width: 100%;
}

.site_order_summary_line_item_region {
    width: 100%;
    clear: both;
}

.site_order_summary_line_item_name {
    padding: 3px;
    font-size: 12px;
    float: left;
    text-align: left;
    width: 80%;
}

.site_order_summary_line_item_price {
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    text-align: right;
    width: 15%;
}

.widgetStore {
    width: 175px;
    padding-bottom: 9px;
    margin-bottom: 1em;
    font-size: 10px;
    background-image: url("/g/chrome/corner_store_bottom.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.widgetStore h3 {
    font-size: 10px;
    color: #fff;
    background: #b4b4b4;
    padding: 4px 10px;
    margin: 0;
    }

/* SideCart */
.widgetStore h3.noPromo {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background: #b4b4b4;
    padding: 4px 12px 4px 15px;
    margin: 0;
    background-image: url("/g/chrome/corner_store_top.png");
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    }

.store-CartWidget {
   width: 175px;
}

.store-CartHeaderPanel {
    float: left;
}

.store-CartHeader {
    background-color: #b4b4b4;
    color: #fff;
    margin-bottom: 5px;
}

.store-CartHeader img { float:right; }

.store-CartHeaderLabel {
    display: inline;
}

.store-CartHeaderItems {
    display: inline;
    margin-left: 2px;
}

.site-OrderSubtotalLabel,.site-OrderTaxLabel,.site-OrderTotalLabel {
    padding: 3px;
    font-size: 12px;
    float: left;
    text-align: right;
    width: 80%;
}

.site_order_subtotal,.site_order_tax,.site_order_total {
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    text-align: right;
    width: 15%;
}

.site_payment_billing_master_region, .site_payment_shipping_master_region {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.site_billing_header_region,.site_shipping_header_region {
    margin-bottom: 10px;
}

.site_PaymentBillingLabel {
    margin-left: 3px;
    margin-right: 10px;
    display: inline;
    font-size: 14px;
    font-weight: bold;
}

.store_PurchaseInfoHeader {
    margin-left: 3px;
    margin-right: 10px;
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.site_EditBillingAddressLink {
    display: inline;
}

.site_EditShippingAddressLink {
    display: inline;
}

.site_PaymentShippingLabel {
    margin-left: 3px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    display: inline;
}

.site-SiteDisplayPanel {
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    float: left;
    width: 45%;
}

.site-SiteDisplayControlPanel {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    float: left;
    width: 50%;
}

.site_payment_region_left {
    float: left;
    width: 70%;
}

.site_payment_region_bottom {
    float: left;
    width: 100%;
}

.site-GroupItemImg {
    width: 20px;
    float: left;
}

.site-GroupItem,.site-SelectedGroupItem {
    padding-bottom: 10px;
}

.site-GroupItemName {
    text-align: left;
    padding-left: 5px;
    padding-bottom: 10px;
    display: inline;
    font-weight: normal;
}

div.site-GroupItem div.site-GroupItemImg {
    background: url("/wapps/store/images/groups-dim.gif") top left no-repeat;
}

div.site-SelectedGroupItem div.site-GroupItemImg {
    background: url("/wapps/store/images/groups.gif") top left no-repeat;
}

div.site-SelectedGroupItem div.site-GroupItemName {
    font-weight: bold;
}

.site-GroupList {
    margin-top: 5px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 75%;
    border: 1px inset #b4b4b4;
}

.site-GroupPanel {
    margin-top: 25px;
    margin-bottom: 25px;
}

.site_payment_note_region {
    margin-top: 10px;
    font-size: 12px;
}

.site_important_header {
    padding: 3px;
    font-weight: bold;
    color: rgb(183, 0, 0);
}

.site_important_point_1,.site_important_point_2 {
    padding: 3px;
}

.site-payment-ccwidget {
    margin-top: 20px;
    margin-bottom: 20px;
}

.site_payment_region {
    margin-top: 10px;
}

.site-PaymentHeaderLabel {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    margin-left: 3px;
}

.site_PaymentMethodRegion {
    width: 100%;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-PaymentFullNameLabel {
    padding: 3px;
    font-size: 12px;
    float: left;
    text-align: left;
    width: 10%;
    clear: left;
    padding-left: 10px;
}

.site_PaymentFullName,.site_PaymentCardTypeRegion {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    clear: right;
    height: 20px;
    padding-top: 5px;
}

.site_payment_num_date_csc_region {
    float: left;
    margin-left: -3px;
    width: 700px;
}

.site_PaymentCardNumberRegion,.site_PaymentCSCNumberRegion,.site_PaymentExpDateRegion,.store-VatPanel
    {
    padding-top: 5px;
    font-size: 12px;
}

.site-PaymentCardNumberLabel,.site-PaymentCSCNumberLabel,.site-PaymentExpDateLabel,.site-PaymentCardTypeLabel,.store-VatLabel {
    font-size: 12px;
    padding: 3px;
    float: left;
    text-align: left;
    clear: left;
}

.store-VatLabel,.site-PaymentCardTypeLabel {
    padding-left: 11px;
    vertical-align: middle;
}

.site-PaymentExpDateLabel {
    padding-left: 13px;
}

.site_PaymentCSCNumber {
    width: 50px;
    margin-right: 4px;
}

.site_PaymentCardNumber,.site_PaymentCSCNumber {
    float: left;
}

.site_PaymentCSCNumberRegion {
    float: left;
    width: 40%;
}

.site_PaymentCardNumberRegion {
    padding-left: 10px;
    float: left;
    width: 40%;
}

.site_PaymentExpDateRegion {
    clear: left;
}

.site-PaymentExpYear {
    margin-left: 10px;
    width: 60px;
}

.site_payment_cc_type_list_item {
    float: left;
    width: 10%;
}

.site_PaymentCSCContentRegion {
    float: left;
    width: 50%;
}

.site_payment_button_region {
    margin-top: 10px;
}

.buttonSite-Payment-Back {
    float: left;
    padding-bottom: 10px;
}

.buttonSite-Payment-Continue {
    float: right;
    padding-bottom: 10px;
}

.site-EditSiteDialog {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    width: 510px;
}

.site-EditSiteDialog .Caption {
    background-color: #ffffff;
    width: 380px;
}

.site_EditSiteButtonPanel {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 110px;
    white-space: nowrap;
}

.site-SiteDialog {
    width: 600px;
}

.site-BillingSiteTitle {
    float: left;
    clear: both;
}

.site-BillingSiteTitle:after,.site-DeckPanel:after,.site-SitePanel:after,.site-SiteDialogMainPanel:after
    {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}

.site-SiteDialogMainPanel {
}

.site-DeckPanel {
    display: block;
    float: left;
    width: 100%;
}

.site-SitePanel {
    margin-left: 10px;
    width: 150px;
}

.site-SitePanelFullName {
    font-weight: bold;
}

.site-ChooseSitePanel {
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
}

.site-BillingSiteTitleLabel {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 5px;
}

.site-ControlSiteMainPanel {
    padding-top: 10px;
}

/*  Select Address Modal  */
.site-UseAddressLabel {
    background: url("/g/chrome/icon_address_add.png") top left no-repeat;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

.site-EditAddressLabel {
    float: left;
    background: url("/g/chrome/icon_address_edit.png") top left no-repeat;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 3px;
}

.site-DeleteAddressLabel {
    margin-left: 70px;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 3px;
}


.site-EditSiteDeckPanel {
    width: 90%;
}

.site-EditSiteDialog table {
    width: 100%;
}

.overlay-CaptionPanel {
    width: 100%;
}

.input_error {
    color: red;
}

.payment-CreditCardPanel {
    width: 700px;
}

/* Modal dialog style */

.site-EditSiteDialog,.login-LoginDialog,.site-SiteDialog,.shipping-ShippingDialog,.store-SubscriptionDialog {
    z-index: 100;
    zIndex: 100;
}

.site-EditSiteDialog .overlay_panel,.site-SiteDialog .overlay_panel,.store-SubscriptionDialog .overlay_panel, .gwt-overlayDialog-medium .overlay_panel {
    width: 573px;
    background: url("/g/chrome/corner_width573_top.gif") top right no-repeat;
    text-align: left;
    font-size: smaller;
}

.site-EditSiteDialog .overlay_footer_panel,.site-SiteDialog .overlay_footer_panel, .store-SubscriptionDialog .overlay_footer_panel, .gwt-overlayDialog-medium .overlay_panel .overlay_footer_panel {
    background: url("/g/chrome/corner_width573_bottom.gif") bottom left no-repeat;
}

.site-EditSiteDialog .overlay_footer_panel_ie,.site-SiteDialog .overlay_footer_panel_ie, .store-SubscriptionDialog .overlay_footer_panel_ie, .gwt-overlayDialog-medium .overlay_panel .overlay_footer_panel_ie {
    background: url("/g/chrome/corner_width573_bottom.gif") top left no-repeat;
}

.gwt-Label site_payment_back_btn {
    float: left;
    width: 50%;
    display: inline;
}

.payment-ValidationErrorsPanel {
    padding-bottom: 10px;
}

.payment-ValidationError {
    overflow: hidden;
    color: red;
    display: block;
    height: 15px;
    padding-left: 10px;
    font-size: 12px;
}

.shipping-ShippingMethodRadioSpan {
    display: block;
    width: 1%;
    white-space: nowrap;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.store-AcceptAgreement {
    width: 100%;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px 0px 5px 40px;
    margin-bottom: 30px;
    margin-top: 15px;
    background: #EEE;
    vertical-align: middle;
}

.store-AcceptAgreement {
    font-weight: bold;
}

.store-AcceptPiece, .store-AcceptPieceRequired {
    display: inline;
    padding-right: 3px;
    font-size: 12px;
}

.store-AcceptPieceRequired {
    color: #cc0000;
}

.store-SubscriptionAgreementsHeader,.store-SubscriptionAgreementHeader {
    font-size: large;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 30px;
}

.store-SubscriptionAgreementHeader {
    font-size: small;
}

.store-SubscriptionAgreements {
    padding: 10px;
    font-size: 12px;
}

.store-SubscriptionAgreement {
    margin-bottom: 5px;
    margin-left: 10px;
    display: list-item;
    font-size: 12px;
}

.store-SubscriptionAgreementContent {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    font-size: 10px;
    width: 99.5%;
    height: 80%;
}

.store-SubscriptionAgreementBack {
    float: bottom;
}

.store-SubscriptionDialog .overlay-CloseLabel {
    text-align: left;
    display: inline;
    cursor: pointer;
    float: right;
}

.store-RedHatLogo {
    background: url("/g/chrome/logo_rh_home.png") left top no-repeat;
}


.store-SubscriptionDialogDeck {
    margin-top: 20px;
}

div#site_group_panel {
    font-size: 12px;
}

/**
 * Overlay Dialog Style
 *
 */
.gwt-overlayDialog {
    z-index: 100;
    zIndex: 100;
}

.gwt-overlayDialog .overlay_panel {
    text-align: left;
    font-size: smaller;
}

.overlay-CloseLabel {
    text-align: left;
    display: inline;
    cursor: pointer;
    float: right;
}

.gwt-overlayDialog .login-DeckPanel {
    width: 75%;
}

.gwt-overlayDialog-xsmall {
    width: 278px;
}

.gwt-overlayDialog-xsmall .overlay_panel .overlay_footer_panel .overlay-CloseLabel {
    margin-left: 85%;
}

.gwt-overlayDialog-xsmall .overlay_panel .overlay_footer_panel_ie .overlay-CloseLabel {
    margin-left: 85%;
}

.gwt-overlayDialog-small {
    width: 420px;
}

.gwt-overlayDialog-medium {
    width: 573px;
}

.gwt-overlayDialog-large {
    width: 790px;
}

.gwt-overlayDialog-large .overlay_panel {
    width: 790px;
    background: url("/wapps/store/images/corner_width790_top.gif") top right no-repeat;
}

.gwt-overlayDialog-large .overlay_panel .overlay_footer_panel {
    width: 790px;
    background: url("/wapps/store/images/corner_width790_bottom.gif") bottom right no-repeat;
}

.gwt-overlayDialog-large .overlay_panel .overlay_footer_panel_ie {
    width: 790px;
    background: url("/wapps/store/images/corner_width790_bottom.gif") top right no-repeat;
}

.site_payment_region_bottom, .site_important_header{
 margin-top:25px;
}



/* =Catalog General Styles
----------------------------------------------------------------------------------------*/


.storeIndexPromo {
    padding: 0 0 6px 0; }

.storeNote {font-size:85%; background-color:#fffced; padding:3px 5px; border:1px solid #ccc; }

/* =Purchase Information
----------------------------------------------------------------------------------------*/



/* Subscription Agreement and CC name fields "make it big" -brandbook */
span.textLine span {
    font-size: 13px;
    }

.secureSeal {
    float:right;
    margin-top: 30px;
    clear: right;
    }

.paymentBlock {padding-top: 7px; }
.paymentBlock fieldset.formLayout { margin-bottom: 10px; }
.paymentBlock h3 {padding-bottom: 7px; }

.sameAddress {
    font-size:small;
    font-weight:normal;
    margin-left: 10px;
    }

.addressIcon {
    width: 25px;
    padding: 0 5px;
    float:left;
    }

.addressBlock h2 { margin-bottom: 12px; }

.addressBlockLinks { margin-left: 260px; }

.addressBlockLink { padding-bottom: 12px; }

.addressBlock {
    padding-bottom: 12px; }

.addressBlockBill, .addressBlockShip {
    float: left;
    width: 258px; }

#maineight .floatRight { float: right; margin:0; } 
#maineight .floatLeft {float: left; margin:0; }

strong.estimatedTotal {border-top: 1px solid #999; }

.renewalMessage {
    background-color: #f7f3dc;
    float:left;
    width: 450px;
    margin-bottom: 10px;
    padding: 0 15px;
    /* tantek box hack for ie5 win */
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 420px;
    }

/* for Opera */
html>body .renewalMessage {
    width: 420px;
    }

.renewalMessage span {
    margin-left: 20px; }

table.savedcart {
    border: 1px solid #d9d9d9;
    padding: 8px;
    width: 100%; }

.savedcarts_carts_table {
    width: 100%; }

table.savedcart th {
    background-color: #e6e6e6;
    border-bottom-width: 0;
    font-size: 12px;
    padding: 7px; }



/*  Products
-------------------------------------------------------------------*/

.productRow .productVariants {
	display: block;
	text-align: left;
	font-size:95%;
	clear: left;
	font-weight: bold;
	margin:0 0 5px 15px;}
	
.productRow {
    padding: 0 0 15px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
		font-family: "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, arial, sans-serif;
    font-size: 90%;
}

/*.productRow+h2 { margin-top: 30px; }*/

.storeDetail h2, #contentStoreColLeft h2 {
	padding-bottom: 0; }

.productRow p { text-align: left; float: left; width: 100%; font-size: 90%; }

.productRow h3, .productRow h2, .storeProductNote, .storeProductVersion  {
    padding: 0 0 5px 0;
    margin: 0px;
    float: none;
    text-align: left;
    /*width: 360px;*/
    }
	
.productRow h3 {
	font-size: 14px; }
	
.productRow h4 {
	clear:left;
	text-align:left;
	font-size:105%;
	margin:8px 0 8px;
	text-align:left;
	background-color: #e0e0e0;
	padding: 2px 15px;
	white-space:nowrap; }
	
.productRow h5 {
	text-align: left;
	margin-left: 15px;
	clear: both;
}
	
	
.productRow h3 span {
	display:block;
	font-size:10px; }
	
.storeProductVersion {
	font-weight: bold;
	margin-left: 7px;
	font-size: 95%; }
	
/* Targets IE6 Win only \*/
* html .productRow h3, * html .productRow h2, .storeProductNote {width: 375px;}
/* End Holly Hack */
	
.productRow .storeSupportLevel {
    margin-left: 15px;
	padding-bottom: 10px;
	text-align:left;
	float: left;
	width: 450px;
	font-size: 95%;
	}

.productRow .storeDealLength {
	margin-left: 15px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: right;
	float: left;
	width: 345px;
	font-size: x-small;
	}
	
.productNameNote { font-size:x-small; font-weight: bold; }

.storeCurrLabel {
	float: right;
	margin-top: -28px;
	margin-right: 12px;
	font-size: 95%;
}
	
.storeDetail .productRow, .storeDetail .productTableRow {
    border-bottom: 0;
    }

.storeh2SideLink {
    margin-left: 20px;
    font-weight:normal;
    font-size: small;
    text-decoration: underline; }

.storeSupportOptions {
    float:left;
		font-size:88%;	
		padding:3px 12px 12px 0; }


.storeServerOptions {
	font-size: 88%;
	padding: 3px 12px 0 0;
	clear:right;
	font-weight: normal;
	text-align:left;}
	
.tTip {
			cursor: help;
			position: relative;
		}
		.tTip span {
			margin-left: -999em;
			position: absolute;
		}
		.tTip:hover span {
			border-radius: 6px 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; 
			box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
			position: absolute; left: 96px; top:-210px; z-index: 99;
			margin-left: 0; width: 525px;
			text-align: left;
			color: #333;
		}
		* html a:hover { background: transparent; }
		.infoTip { background: #fcf9e8; border: 1px solid #777;text-decoration: none;padding: 5px 21px;	}
			
		.tTip .infoTip .tTip-pointer-right, .tTip .infoTip .tTip-pointer-right-inner {
			position: absolute; 
			width:0; 
			height:0; 
			border-bottom-width: 0;
			background: none;
		}
		
		.tTip .infoTip .tTip-pointer-right {	
			border-color:transparent transparent #666;
			border-style:solid;
			border-width:1px 1px 32px 22px;
			left:-17px;
			margin-left:-6px;
			top: 182px; }

		.tTip .infoTip .tTip-pointer-right-inner {
			border-color:transparent transparent #FCF9E8;
			border-style:solid;
			border-width:25px 0 30px 21px;
			bottom:auto;
			left:-20px;
			top:-24px;}

		.tTip .border {
			border: 1px solid #B7B29A;}
			
		.tTip td.color3, .tTip td.color5, .tTip td.color6 {border-right: 1px solid #444;}
		.tTip th {border-bottom: 1px solid #B7B29A;}
		.tTip table {border-collapse: collapse;}


	
/* rhel6
.storeSupport {
  padding-right: 10px;
	font-size: small;
	display: block;
	color: #333;
    }
*/

.storePrice { 
    padding: 0;
    margin: 0;
    text-align: left;
    float: left;
    width: 40px;
    }
    
.storeCurrency {
	float: left;
	margin: 0;
	padding: 2px 5px 0 0;
	text-align: right;
	width: 40px;
	font-size: 80%;
}

.storeButton {
    text-align: right;
    float: right;
    padding: 0 12px 4px 0;
    width: 78px; /* size of contact sales button */
    }

#storeTools{
        margin-bottom: 15px;
}

/* Targets IE6 Win only \*/
* html .button {width: 1%;}
/* End Holly Hack */

/* table styles for RHEL5 products */

td.storeCatalogButtonCell {width: 75px; text-align: center;}

td.storeCatalogDealLengthCell {text-align: right;}

td.storeCatalogPriceCell {white-space:nowrap; text-align: left; padding-right:10px; font-size: 12px;}

table.storeCatalogTable {width: 100%; padding-bottom: 10px; margin: 0; }

table.storeCatalogTable td {font-family: "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, arial, sans-serif;}

th.storeCatalogProductCell { margin: 0; padding-left:0;  font-family: "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, arial, sans-serif;}
th.storeCatalogProductCell h3 { margin: 0; padding-left:0; font-size: 13.5px;}
	 
td.storeCatalogProductCell { margin:0; padding-left: 15px; font-size: 11px;}

table.storeCatalogTable td.sc3, table.storeCatalogTable th.sc3 { background-color:#f3f3f3; }

table.storeCatalogTable td.sc4, table.storeCatalogTable th.sc4 { background-color:#ebebeb; }

table.storeCatalogTable th.sc3, table.storeCatalogTable th.sc4 { text-align: center; }

div.productTableRow { padding: 0 0 10px 0; margin: 0 0 10px 0; border-bottom: 1px solid #ccc; }



@media print {
    .tabcontent {
    display:block!important;
    }
}

/*  Expanded Cart and Review & Submit
-------------------------------------------------------------------*/

table.store    {
    width:100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-top: 1px solid #B5B5B5;
    /* text-align: right; */
    font-family: "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, arial, sans-serif;
    }

table.store tr td { /* removes master.css padding */
    margin: 0;
    padding: 0; }

h2+table.store {
    margin-top: 15px; }

tr.storeRowHeader th {
    background: #ddd;
    font-weight:bold;
    font-size: 12px;
    padding: 5px;
    margin: 0;
    }

table.store .cartPrice, table.store .lastRowTotal {
    text-align: right;
    padding-right: 5px; }


table.store td, table.checkout, #storeTotal td, .checkout {
    font-size: 11px;
}

.storePromoCode {
    margin-right: 8px; }


.cartPriceSubtotal {
    font-weight: bold;
    font-size: 12px;
    text-align: right; }

table.store tr.cartRowHeader {
    border-top: 2px solid #999;
}

table.store .cartRowTitle {
    padding-top: 20px;
	padding-left: 5px; }

.cartRowTitle div {
    color: #C00;
    font-size: 12px; }

input.plain {
    background-color: #fff;
    width: 100px;
    margin-right: 10px;
}

table.store tr.itemrow td {
    border-bottom: 1px solid #ddd;
}

table.store tr.itemrow td {
    padding: 10px 5px; }

table.store table.common-Spinner tr td {
    border-bottom: 0;
    padding: 0;
    margin: 0; } /* needed to remove from nested table */

table.store .cartRowBottom {
    padding-top: 10px; }

table.store tr.totalRow td {
    border-top: 1px solid #999;
    border-bottom: 4px solid #999; }

table.store tr.totalRow td {
    padding: 10px 5px 10px;
    background-color: #eaeaea;
    vertical-align:middle; }

.store-LineItemStyle {
    margin-right: 2px;
    width: 18px;
    background-color: #f2f2f2; }

.cartProduct strong, .cartPrice strong, .lastRowTotal strong {
    font-size: 12px;}

.storePromo { padding-left: 10px; }

.storePromo span.redNote strong { display:block; }

.storeQuantity {
    text-align: center; }

#installBlock {
    padding: 15px 0 15px 35px;
    font-size:11px; }

#installBlock ul, #installBlock ol {
    margin: 0;
    padding: 0;
}

#installBlock ul li {
    list-style: none;
}

#installBlock h3 {
    padding-bottom: 5px;}


/*  =Side Cart
--------------------------------------------------------------------*/

table.sideCartTable td {
    margin:0;
    padding:0;
    vertical-align:middle; }

span.sideCartAmount {
    padding-right: 4px; }

.store-LineItemPrice {
    text-align:right; }

.sideCartItemBlock, .sideCartItemBlockEmpty, .sideCartItemTotal {
    width: 175px;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    background-color: #f2f2f2;
/* tantek box hack for ie5 win */
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 173px;
    border-bottom: 1px solid #ccc; }

.sideCartItemBlockEmpty { border-bottom: 0; }

.sideCartItemTotal { background-color: #f8f8f8; }

.sideCartItem {
    padding: 9px;
    }

.sideCartHead {
    margin-bottom: 5px; }


/*  =Store Catalog Index
--------------------------------------------------------------------*/

.store2Col {
    margin: .75em 0; }

.store2Col p {
    font-size: 90%;
    margin-top: 2px; }

.store2Col select {
    margin: 0 0 7px 0; }

.store2ColLeft {
    float:left;
    width: 255px; }

.store2ColRight {
    margin-left: 265px; }

.productName {
    font-size: 12px;
    font-weight:bold; }

.productCatagory {
     padding: 15px 0 2px 0; }

.productCatagory h3 {
    float:left;
    }

a:visited {
    color: #cc0000;
    }


#contentStoreColLeft {
    float: left;
    width: 666px;
    }

#contentStoreColLeft h2 {
    font-size: large;
    margin-bottom: 10px; }

#contentStoreColLeft .whiteBox h2 {
	margin-bottom: 0;} 
	
#contentStoreColLeft .whiteBox {
	margin-bottom: 0;}
    
#contentStoreColLeft .tabcontent h2 {
	font-size: 115%;}

#storeCol {
    margin-left: 681px;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #storeCol {margin-left: 540px;}
    /* End Holly Hack */


.widgetStoreBody {
    width: 175px;
    padding: 9px;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    background-color: #f2f2f2;
/* tantek box hack for ie5 win */
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 155px;
    }

/* for Opera */
html>body .widgetStoreBody {
    width: 155px;
    }

.widgetStoreBody ul.linkage {
    list-style: none;
    /*padding-left: 0;
    margin-left: 0;*/
	padding-left: 8px;
	margin-left: 8px;
    }


/*----  Store Header Override Store Heading styles in headings.css  -----*/

h1#storeTitle {
    background-image: url("/g/chrome/title_store_home.png");
    background-repeat: no-repeat;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 200px;
    float: left;
    }

h1#storeTitle span {
    display: none;
    }

#storeFront {
    margin: 0 15px 5px 15px;
    }

#storeContent {
    margin-bottom: 10px;
    }

#storeHead {
    margin: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    }


#headWrap {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    display: none; }


h1#storeHeading {
    background-image: url("/g/chrome/title_store_home.png");
    background-repeat: no-repeat;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 200px;
    float: left;
    }

h1#storeHeading span {
    display: none;
    }

#headSteps {
    margin:0; padding: 11px 0 0 0;
    text-align: right;
    }

#headSteps ol {
    font-size: x-small;
    color: #999;
    text-align:right;
    margin:0; padding:0;
    }

#headSteps li {
    display: inline;
    padding-left: 6px;
    }

#headSteps ol li a:link, #steps ol li a:visited, #steps ol li a:active {
    color: #999;
    font-size: inherit;
    text-decoration: none;
    }

#headSteps ol li a:hover {
    font-size: inherit;
    color: #666;
    }

#headSteps span {
    color: #C00;
    font-weight: bold;
    }


.store-ClickableText {
    white-space: nowrap; }
	
/* store blue button styles */
div.buttonLink{
    display: table-cell;
	height: 25px;
	background: url('/g/chrome/button-left-cap-red.png') top left no-repeat;
	}
	
div.buttonLink span {
	display: block;
	background: url('/g/chrome/button-right-cap-red.png') top right no-repeat;
	width: 5%;
	position: relative;
	}
	
div.buttonLink > span { width: auto; } /* ie6 doesn't understand a child selector */

.buttonPad {
	margin: 0 15px;
	background: url('/g/chrome/button-bg-red.png') top left repeat-x;
	white-space: nowrap;
	}
	
div.buttonLink a {
	display: block;
	height: 25px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding: 2px 0;
	text-decoration: none;
	color: #fff;
	}
	
div.buttonLink a:link {color: #fff;}
div.buttonLink a:hover {color: #fff;}
div.buttonLink a:visited {color: #fff;}


.warning { text-align: left;}


a.outgoing {
	background: url("/g/icons/outgoing-icon.png") no-repeat 100% 35%;
	padding: 0 12px 0 0;
	margin-right: 2px;
}

fieldset.formLayout {
	background: #eee;
	border: 1px solid #b4b4b4;
	margin: 0 0 15px;
	padding: 3px 10px;
}

fieldset.formLayout legend {
	background: #fff;
	font-weight: bold;
}

div.formrow span.label {
	float: left;
	font-weight: bold;
	padding: 0.5em 10px 0 0;
	text-align: right;
	white-space: nowrap;
	width: 110px;
}

/************************************************************** BUGFIXES */
.site-EditSiteDeckPanel {width: 100%;}
.site-EditSiteDeckPanel div.formrow span.labelFull {width: 190px;}

.store-rhel4eol {
    text-align: left;
}

