/* *****************************************************************************

Red Hat Summit 2008 stylesheet
created by wes based on summit2007.css
created on Feb 8, 2008

***************************************************************************** */

body {}
a {text-decoration: none;}
.base {
	position: relative;  /*so everything else can be absolute*/ 
/*	left: -9px;
	margin-top: 15px;
/*	height: 555px;
	width: 739px;*/
	background: url(/g/summit/2008/summit_bkgd_repeat.png) repeat-y;*/
	background: url(/g/summit/2008/summit_bkgd_repeat.png) repeat-y;
	width: 720px;
	margin-top: 10px;
	}

.top_overview {
	background: url(/g/summit/2008/highlights_bkgd_top.png) left top no-repeat;
}

.bottom {
	position: relative;
	left: 0px;
	background: url(/g/summit/2008/summit_bkgd_bottom_528.png) bottom left no-repeat;
	height: 58px;
}

#summit_nav {
/*	position: absolute;
	top: .3em;
	left: 51px;*/
	margin-left: 45px;
}


#summit_nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
#summit_nav li {
	float: left;
	margin: 0 13px;
	}
#summit_nav ul a {
	padding: 0 3px 0 0;
	display: block;
	text-decoration: none;
	color: #322C72;
	font-weight: bold;
	font-size: 11px;
	}

/* targets IE7 only */
*:first-child+html #summit_nav ul a { font-size: 10px; }
	
	/* Holly Hack Targets IE Win only \*/
    * html #summit_nav ul a {font-size: 75%;} /* only because we're using a diff font for IE */
    /* End Holly Hack */
	
#summit_nav ul a:hover {
	color: #322C72;
	text-decoration: underline;
	}

#summit_title {
/*	position: absolute;
	top: 105px;
	left: 25px; */
	padding-top: 100px;
	margin-left: 15px;
}

.summit_speakers {
	clear: both;
}

.summit_speakers ul {
	padding-left: 0;
	list-style-type: none;
}

.summit_speakers li {
	width: 300px;
}

.summit_speakers li img {
	float: left;
	padding-bottom: 10px;
	padding-right: 5px;
}

#content_pad {padding-bottom: 0px;}
#content_area {
	margin-left: 35px;
	margin-right: 10px;
	color: #000;
	position: relative;
	top: 154px;
	left: 9px; 
	width: 657px;
	padding: 140px 15px;
	padding-top: 49px;
	
	}
	
/*#content_area p {
	padding-top: 0;
	margin-top: 0;
}*/

#summit_links {
	float: left;
	position: absolute;
	left: 181px;
	top: 0px;
}

table.table6 tr th {
	text-align: center;
	background: #cccccc;
	color: #000000;
	font-weight: bold;
}
table.table6 tr td {
	text-align: left;
	border-bottom: 1px solid #000000;
	color: #000000;
	font-size: 12px;
}
table.table6 tr td.tableHeader {
	text-align: left;
	border-bottom: 1px solid #BB000D;
	color: #BB000D;
	font-weight: bold;
	font-size: 12px;
	padding-top: 15px;
}
table.summit_table2col {
	width: 515px;
	font-size: 12px;
}

table.expand th {
	text-transform: uppercase;
	border-bottom: 1px solid #F9D078;
}

table.expand	{
	width: 100%;
	rules: rows;
	}

.shadeddk {
	background: #F9D078;
	}
	
.shadedlt {
	background: #FCEDB0;
	}

.shaded {
	background: #F9D078;
	}
div.trackTables table.expand th {
	text-transform: uppercase;
	border-bottom: 1px solid #cccccc;
}

/******************************************************* Live from the Summit styles ***/

.summit07_livebg {
	background: url(/g/summit/2007/summit07_highlights_bg.png) left top no-repeat;
}

/*****************************redbox.css***********************************************/
#redBoxBg {
	position: absolute;
	left: 0px; top: 0px;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	z-index: 101;
	background-color: #000000;
	border: 0px solid #ffffff;
	-moz-opacity: 0.7; /* for Mozilla */
	opacity: 0.7; /* CSS3 standard */
	filter:alpha(opacity=70) /* for IE */
	overflow: hidden;
}
#redBoxWin {
	position: absolute;
	left: 0px; top: 0px;
	margin: 0;
	padding: 0;
	z-index: 999;
	background-color: #000000;
	border: 5px solid #ffffff;
}
#redBoxTitle {
	padding: 7px;
	text-align: left;
	font-weight: bold;
	color: #ffffff;
	font-size: small;
	border-bottom: 5px solid #ffffff;
}
#redBoxClose {
	float: right;
	margin: 6px 7px;
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
	color: #efefef;
	text-decoration: none;
}

a#redBoxClose:visited {color: #efefef; text-decoration: none;}
a#redBoxClose:hover {color: #ffffff; text-decoration: underline;}

#redBoxPlayer {
	position: relative;
	background-color: #ffffff;
}

*.fauxLink {cursor: pointer;}
