/* ******************** Styles for Datatables ******************** */
.dataTables_wrapper{
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
    float: left;
	width: 100%;
    
}

.dataTables_info{
	float: right;
	margin-bottom: 20px;
}

.odd{
	background-color: #DDDDDD;
}

.tabContent .dataTables_wrapper tr.odd {
    background-color: #E1E1E1;
}

.tabContent .dataTables_wrapper tr.even,
.tabContent .dataTables_wrapper thead {
    background-color: #FFFFFF;
}

.dataTables_wrapper tbody {
	line-height: 25px;
}

.dataTables_wrapper table {
    margin-bottom: 7px;
}

.dataTables_length{
	width: 50%;
	float: left;
	position: relative;
}

.dataTables_filter{
	width: 50%;
	float: left;
	position: relative;
}

.dataTables_wrapper th {
    cursor: pointer;
}

.paginate_enabled_previous {
    background-image: url(/g/chrome/page-left.gif);
    cursor: pointer;
}

.paginate_enabled_next {
    background-image: url(/g/chrome/page-right.gif);
    cursor: pointer;
}

.paginate_disabled_previous {
    background-image: url(/g/chrome/page-left-disabled.gif);
}

.paginate_disabled_next {
    background-image: url(/g/chrome/page-right-disabled.gif);
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    float: left;
    height: 11px;
    margin-left: 3px;
    width: 16px;
}

.dataTables_wrapper th.sorting_asc:after {
    content: url(/g/chrome/sort-up.png);
}

.dataTables_wrapper th.sorting_desc:after {
    content: url(/g/chrome/sort-down.png);
}

/* ******************** Style for documents table ******************* */
table#documentTable {
    font-size: small;
    width: 320px;
    margin-left: 10px;
    float: left;
}

/* ******************** Form and Fieldset styles ******************** */
fieldset.fieldsetform {
	background-color: #FFF ;
	font-family: "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	border:1px solid #B4B4B4;
	margin: 0 0 15px 0;
	padding:15px;
	}

div.tabContent fieldset.fieldsetform {
    background-color: inherit;
    }

div.tabContent fieldset#containingFieldset {
    border: 0px;
    }    

fieldset.fieldsetform legend {
	/* background:#fff none repeat scroll 0% 50%; */
	font-weight:bold;
	font-size: 115%;
	padding:0 7px;
	}
	
.fieldsetform .rowform {padding: 5px 0px; }
	
.rowform:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	}

.rowform {display:inline-block;}
/* Hide from IE6 \*/
.rowform {display:block;}
/* End */

.rowform span {
	margin-left: 135px;
	display: block; }
	
.rowform span+span {
	padding-top: 4px;}
	
.rowform span strong { 
	font-size: 120%;
	display: block; }
	
.fieldsetform .rowform label {
	float:left;
	font-weight:bold;
	text-align:right;
	width: 120px;
	font-size: 93%;
	}

fieldset.internalFieldset .rowform label {
    width: 120px;
    }

fieldset.fieldsetform input.rowbutton {
	width: auto; 
	display: inline;
	margin-left: 10px;
    cursor: pointer;
	}

fieldset.fieldsetform select, fieldset.fieldsetform input, fieldset.fieldsetform textarea {
	width: 320px;
	margin-left:10px;
	display: inline;
	font-family: "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	font-size: 115%;
	}

fieldset.fieldsetform .selectsize2 {width: 375px;}
fieldset.fieldsetform .selectsize1 {width: 160px;}
	
fieldset.fieldsetform .checkbox_radio {
	width: 13px;
	display: inline;
	}

fieldset.fieldsetform ul.two_column {
    list-style: none;
    margin-top: 0px;
    width: 90%;
}

fieldset.fieldsetform ul.two_column li {
    float: left;
    width: 45%;
}

fieldset.fieldsetform br.clear {
    clear: left;
}

input.button {
	padding: 1px 4px;
	}

.buttonWrap {
	position: relative;}
	
a.button{
	font-size: 13px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 0 8px 0;
	margin:5px 0 0 0;
	background:url(/g/chrome/button-left.gif) no-repeat center left
	}

/* targets IE7 only */
*:first-child+html .buttonWrap a.button { padding:5px 0 5px 0
	}

a.button span{
	line-height:24px;
	color:#fff;
	margin:0 -10px 0 15px;
	padding:5px 20px 8px 10px;
	overflow:hidden;
	text-align: right;
	background:url(/g/chrome/button-right.gif) no-repeat center right
	}

/* targets IE7 only */
*:first-child+html .buttonWrap a.button span { padding:5px 20px 5px 5px
	}

/* ******************** tab styles ******************** */
.tabWrapper{
	float: left;
	width: 100%;
	/*text-transform: uppercase; */
	font-weight: bold;
}

.tabWrapper a{
	color: #000;
	display: block;
	padding: 0px 10px;
	height: 25px;
	line-height: 23px;
}

.tabWrapper a:hover{
	text-decoration: none;
}

.tabs{
	list-style: none;
	margin: 0px;
	padding: 0px;
	z-index: 10;
	position: relative;
}

.tabs li{
	float: left;
	border: 1px solid #666666;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	background-color: #999999;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
}

.tabs li:hover{
	background-color: #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
}

.tabs li.active{
	background-color: #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
    cursor: default;
}

.tabs li.active a {
    cursor: inherit;
}

.tabContent{
	border: 1px solid #666666;
	float: left;
	width: 95%;
	background-color: #D8D8D8;
	margin-top: -1px;
	z-index: 1;
	position: relative;
	margin-bottom: 30px;
	padding: 10px;
	font-size: 12px;
}

.infoLeft{
	float: left;
	width: 200px;
	line-height: 30px;
	text-align: right;
	margin-right: 20px;
	text-transform: uppercase;
}

.infoLeft p{
	margin: 0px;
	padding: 0px;
}

.infoRight{
	float: left;
	width: 400px;
	line-height: 30px;
}
