#bodysuit {
	padding-left: 14px;
	padding-right: 12px;
	padding-bottom: 12px;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 690px;
}

html>body #bodysuit {
	width: 690px;
}

h2.registerSection {
	width: 690px;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	background-color: rgb(187, 187, 187);
/*	background-image: url(/g/chrome/corner_headcreamfull_top.png);*/
	background-position: top left;
	background-repeat: no-repeat;
	font-size: small;
	color: white;
	}
	
h2.registerSection span {
	display: block;
	padding: 1px 15px 2px 15px;
/*	background-image: url(/g/chrome/corner_headcreamfull_bottom.png);*/
	background-position: bottom right;
	background-repeat: no-repeat;
	}
	
/************************************************************** FORM ROWS */

input {
	border: 1px solid #999;
	background: #fff;
	}
	
input.submitSpace {
	margin-top: 20px
	}

div.formblock {		/* for formblocks that follow h2's */
	margin-bottom: 1em;
	}

div.formrow {
  	padding: 5px 0;
  	font-size: x-small;
  	}
  	
div.formrow:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: right; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .formrow {height: 1%;}
    /* End Holly Hack */

div.formrow span.label {
	float: left;
	width: 110px;
	text-align: right;
	font-weight: bold;
	padding: .5em 0;
	}

div.formrow span.formfield {
	float: right;
	width: 130px;
	text-align: left;
	}
	
div.formrow span.labelFull {
	float: left;
	width: 140px;
	text-align: right;
	font-weight: bold;
	padding: 0;
	}

div.formrow span.formfieldFull {
	float: right;
	width: 540px;
	text-align: left;
	}
	
div.formrow span.labelWeb {
	float: left;
	width: 240px;
	text-align: right;
	font-weight: bold;
	padding: .25em 0;
	}

div.formrow span.formfieldWeb {
	float: right;
	width: 440px;
	text-align: left;
	}
	
