/* *****************************************************************************

Red Hat Summit 2009 stylesheet
created by rob (in 2006)
and copied by Kathleen!!!
recreated on Sept 9, 2008

Notes: this stylesheet represents rampant abuse of absolute positioning.
       nothing to be done however considering the graphic text layers were
       screened.
       proceed with caution.

***************************************************************************** */

body {
        font-size: small;
        }

#base {
        position: relative; /* so everything else can be absolute */
        margin-top: 15px;
        height: 600px;
        }

.main { background: url(/g/summit/2009/summit_bkgd.png); }

#left {
        position:absolute;
        margin: 0;
        padding: 0;
        top: 220px;
        left: 10px;
        width: 700px;
        height: 104px;

        }

#left p, #left a, #left h3{
		  position:absolute;
        margin: 0;
        padding: 0;
        top: 230px;
        left: 10px;
        width: 700px;
        height: 104px;	
        text-align: center;
        font-size: 17px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        }

#right {
        position:absolute;
        margin: 0;
        padding: 0;
        top: 495px;
        left: 10px;
        width: 700px;
        height: 50px;
        text-decoration: none;
        }

#right p, #right a, #right h2{
        margin: 0;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        }

#center {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 240px;
        left: 80px;
        width: 560px;
        height: 138px;
        list-style: none;
        color: white;
        font: arial;
        }

#center h1, #center a, #center h3 {
        list-style: none;
        margin: 0;
        text-align: center;
        font-size: 13px;
        color: #a7d6ea;
        text-decoration: none;
        font-weight: bold;
        }
        
        

