/* *****************************************************************************

Red Hat Summit 2008 stylesheet
created by rob (in 2006)
and copied by stephen!!!1
recreated on Apr 13, 2006

Notes: this stylesheet represents rampant abuse of absolute positioning.
       nothing to be done however considering the graphic text layers were
       screened.
       proceed with caution.

***************************************************************************** */

body {
        font-size: small;
        }

#base {
        position: relative; /* so everything else can be absolute */
        margin-top: 15px;
        height: 600px;
        }

.main { background: url(/g/summit/2008/background_720.jpg); }

#left {
        position:absolute;
        margin: 0;
        padding: 0;
        top: 300px;
        left: 10px;
        width: 700px;
        height: 104px;

        }

#left p, #left a, #left h3{
        margin: 0;
        text-align: center;
        font-size: 17px;
        color: white;
        text-decoration: none;
        }

#right {
        position:absolute;
        margin: 0;
        padding: 0;
        top: 495px;
        left: 10px;
        width: 700px;
        height: 50px;
        text-decoration: none;
        }

#right p, #right a, #right h2{
        margin: 0;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
        color: white;
        }

#center {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 400px;
        left: 10px;
        width: 700px;
        height: 138px;
        list-style: none;
        }

#center h1, #center a, #center p, #center h3 {
        list-style: none;
        margin: 0;
        text-align: center;
        font-size: 23px;
        color: white;
        text-decoration: none;
        }

