body {
	color: #000;
	font-size: 10pt;
	font-family: helvetica, sans-serif;
	}
	
h1.title {
	background: url('/g/solaris_title.gif') no-repeat top left;
	height: 63px;
	text-indent: -10000px;
	margin: 40px 0 0 0;
	}

h2 {
	vertical-align: top;
	font-weight: bold;
	font-size: 10pt;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	}
	
.bigger {
	font-size: 14pt;
	text-transform: none;
	margin: 15px 0 15px 0;
	}
	
.topLine {
	font-size: 12pt;
	margin: 0;
	}
	
h3 {
	font-size: 10pt;
	margin: 0;
	}

p {
	margin: 0 0 15px 0;
	}

p.intro {
	margin: 0 0 15px 0;
	padding: 5px 5px 25px 0;
	}

a.redLink, a.redLink:visited {
        text-decoration: none;
        color: #0066cc;
        }
a.redLink:hover {
        text-decoration: underline;
        color: #c00;
        }
        
strong.capped {
        text-transform: uppercase;
        font-weight: bold;
        }  

#SundownTopH p, #SundownMid p, #SundownBot p, #SundownBot2 p {
	font-size: 12px;
	}
	
#SundownTopH a, #SundownMid a, #SundownBot a, #SundownBot2 a {
	text-decoration: none;
	}

#SundownTopH {
	background: url(/g/migrate_to_linux.png) no-repeat;
	margin-top: 15px;
	height: 133px;
	position: relative;
	}
	
#SundownTopMigrateH {
	background: url(/g/rhel/migratetolinux721x114.png) no-repeat;
	margin-top: 15px;
	height: 133px;
	position: relative;
	}	
	
#SundownNav {
	font-size: x-small;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
	}
	
#SundownNav ul {
	margin: 0 auto;
	padding: 105px 0 0 0;
	}
	
#SundownNav li {
	list-style: none;
	display: inline;
	}
	
#SundownNav a {
	padding: 0 15px 5px 15px;
	text-decoration: none;
	color: #0066cc;
	}

#SundownNav a:hover {
        color: black;
        }
                                                                                                                                                                                       
#SundownNav a.onThisPage {
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        }

	
#SundownTopH h1 {
  	text-indent: -10000px;
	}
	
#SundownTopH h2 {
	text-indent: -10000px;
	padding: 0
	margin: 0;
	}
	
#SundownTopH p {
	position: absolute;
	top: 60px;
	left: 210px;
	}



#logos {
	padding-left: 520px;
	padding-top: 15px;
	clear: both;
	}
	
#logos a {
	padding-right: 15px;
	}
	
.ibm {
	text-indent: -10000px;
	background: url('/g/logo_ibm_sundown.gif') no-repeat;
	height: 27px;
	width: 64px;
	}
	
.redhat {
	display: none;
	text-indent: -10000px;
	background: url('/g/logo_redhat_sundown.gif') no-repeat;
	height: 27px;
	width: 85px;
	}
	
#past {
	margin-top: 15px;
	padding-left: 80px;
	}
	
#backlinkVids {
	margin-left: 165px;
	}
	
#legal {
	margin: 0 15px 0 15px;
	font-size: xx-small;
	width: 680px;
	}
	
#spacer {
	clear: both;
	height: 100px;
	}
	
#bottomCap {
	height: 9px;
	background: url('/g/chrome/corners_sundown_bottom.gif') no-repeat bottom;
	margin: 0;
	clear: both;
	}

#coltabs {
	background: url('/g/chrome/3_sundown_tabs.png') no-repeat top;
	margin: 0;
	margin-left: -4px;
	padding: 0;
	height: 64px;
	}

#colcaps {
        background: url('/g/chrome/sundown_caps.gif') no-repeat top;
        margin-left: -5px;
        padding: 0;
        height: 12px;
        }
        
#sundownWrap {
	background: url('/g/sundown_bg.gif') repeat-y left;
	width: 553px;
	margin: 0;
	padding: 0;
	}

#sundownWrap:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html sundownWrap {height: 1%;}
    /* End Holly Hack */



#col_videos {
/*	background: #e2e3cd;*/
	float: left;
	width: 180px;
/*	height: 370px;*/
	}

#col_videos h2 {
	display: none;
	}
	
#col_videos ul {
	padding: 0 10px;
	list-style-type: none;
	}

#col_webcasts {
	float: left;
	width: 186px;
	}

#col_webcasts h2 {
        display: none;
        }

#col_webcasts ul {
        padding: 0 10px;
        list-style-type: none;
        }

#col_whitepapers {
/*	background: #e3e2cd;*/
	float: left;
	width: 181px;
/*	height: 370px;*/
	}

#col_whitepapers h2 {
        display: none;
        }

#col_whitepapers ul {
        padding: 0 10px;
        list-style-type: none;
        }

#col_news {
	float: left;
	width: 173px;
	}

#col_news h2 {
        display: none;
        }
        
#col_news h3 {
        padding: 0 10px;
        }

#col_news ul {
	padding: 0 10px;
	list-style-type: none;
        }
	
#overKILL {
	clear: both;
	}
	
#more_videos {
	float: left;
	width: 180px;
	text-align: right;
	padding-top: 80px;
	}
	
#more_videos p {
	padding: 0 10px;
	}

#more_webcasts {
	float: left;
	width: 186px;
	text-align: right;
	padding-top: 80px;
	}
	
#more_webcasts p {
	padding: 0 10px;
	}

#more_whitepapers {
	float: left;
	width: 181px;
	text-align: right;
	padding-top: 80px;
	}

#more_whitepapers p {
	padding: 0 10px;
	}

#more_news {
	float: left;
	width: 173px;
	text-align: right;
	padding-top: 80px;
}
	
#more_news p {
	padding: 0 10px;
	}
	
#more_news img {
	padding-left: 10px;
	}
	
/********** Styles for 4 col layout **********/

#techtab {
	background: url('/g/sundown_tab_tech.gif') no-repeat;
	width: 720px
	height: 43px
	}
	
#techtab h2 {
  	text-indent: -10000px;
  	height: 43px;
	}
	
#webcaststab {
	background: url('/g/sundown_tab_webcasts.gif') no-repeat;
	width: 720px
	height: 43px
	}
	
#webcaststab h2 {
  	text-indent: -10000px;
  	height: 43px;
	}
	
#vidstab {
	background: url('/g/sundown_tab_videos.gif') no-repeat;
	width: 720px
	height: 43px
	}
	
#vidstab h2 {
  	text-indent: -10000px;
  	height: 43px;
	}
	
#vidsleft {
	float: left;
	width: 330px;
	margin: 0 15px 0 10px;
	}
	
#vidsright {
	float: left;
	width: 330px;
	margin: 0 10px 0 15px;
	}
	
.SundownHRBox {
	padding: 15px 0;
	border-bottom: 2px dotted #C8C5AC;
	margin-bottom: 15px;
	}
	
 div.imgLeftSundown {
 	margin-bottom: 15px;
 	}
	
div.imgLeftSundown img {
 	float: left;
 	margin: 0 30px 15px 0;
 	}
 
div.imgLeftSundown img.margin15	{
	margin-right: 15px;
	}
	
 div.imgRightSundown {
 	margin-bottom: 15px;
 	}
	
div.imgRightSundown img {
 	float: right;
 	margin: 0 0px 15px 30px;
 	}
 
div.imgRightSundown img.margin15	{
	margin-left: 15px;
	}

/********** Styles for 3 col layout **********/
#whitepaperstab {
	background: url('/g/sundown_tab_whitepapers.gif') no-repeat;
	height: 42px;
	width: 549px;
	}
	
#whitepaperstab h2 {
  	text-indent: -10000px;
  	height: 42px;
	}
	
#newstab {
	background: url('/g/sundown_tab_news.gif') no-repeat;
	height: 43px;
	width: 549px;
	}
	
#newstab h2 {
  	text-indent: -10000px;
  	height: 43px;
	}

#newsleft {
	float: left;
	width: 549px;
/*	margin: 0 15px 0 10px;*/
	}
	
#newsleft h2 {
	margin-left: 15px;
	}
	
#newsleft p {
	margin-left: 15px;
	}

#newsleft ul {
	list-style-type: none;
	padding: 0;
	margin-left: 15px;
	}
	
#newsright {
	float: left;
/*	width: 169px;*/
	margin: 48px 5px 0 15px;
	}